[2020-04-22 13:51] #956 closed

[2020-04-22 15:32] jeromekelleher commented on #958
Also a thought I had here is that we can improve the usability by making this result object able to create samples, like
[code]

[2020-04-22 18:40] petrelharp opened #968 "document provenance requirements for new/existing code"
With the new provenance code there are some additional requirements for adding new methods or modifying existing ones, as I'm discovering over in #946. In figuring this out it'd be very helpful to have a short explainer and/or checklist of what needs to happen to interface with the provenance machinery. For instance: an `.asdict()` method... ? Right now I'm going on "what do errors in running test

[2020-04-22 18:46] benjeffery commented on #968
Agreed! I should have done this as part of the initial work. I'll self-assign this.

[2020-04-22 18:57] petrelharp commented on #968
Great! Thanks.

[2020-04-23 18:46] petrelharp commented on #880
With #946 merged we should do this.

[2020-04-23 22:19] petrelharp opened #971 "implement more mutation models"
... we have [Jukes-Cantor](https://github.com/tskit-dev/msprime/blob/8fcdee03792ad97009d2f24cf879c4c70572cc95/msprime/mutations.py#L73) but could implement many more; a good collection is implemented by [seq-gen](http://tree.bio.ed.ac.uk/software/seqgen/).

[2020-04-23 22:24] petrelharp opened #972 "Make a tutorial about advanced mutating"
This should use:

- a mutation map
- a built-in mutation model
- a user-defined mutation model
- `discrete` or not
- `keep`ing or not, and when you're allowed to

A use case is: say you have an annotation of the genome and want to apply different mutation processes to different annotations (eg Jukes-Cantor here and CpG there).

[2020-04-23 22:55] petrelharp commented on #553
Closed in #946

[2020-04-23 22:55] #553 closed

[2020-04-24 04:49] petrelharp opened #977 "Update mutation code once mutations have `time`"
As discussed in #946, this would make adding mutations to different time chunks of a tree sequence really possible, and would be a good idea more generally.

[2020-04-24 07:17] jeromekelleher commented on #977
Needs to get added to tskit first, https://github.com/tskit-dev/tskit/issues/513

[2020-04-24 15:12] petrelharp commented on #977
whoops, sorry, wrong repository. =)  But this will remind us to update the mutation code.

[2020-04-24 17:34] daniel-goldstein commented on #950
Not sure I know what examples would be best for the tutorial but I'm happy to take it on if we can hash out what it should look like. Maybe at the next meeting?

[2020-04-24 17:58] petrelharp commented on #950
Excellent! Here's a list of a few things I put in a different issue (which is subsumed in this one, whoops):

-    a mutation map
-    a built-in mutation model
-    a user-defined mutation model
-    discrete or not
-    keeping or not, and when you're allowed to

A use case is: say you have an annotation of the genome and want to apply different mutation processes to different annotations (eg Ju

[2020-04-24 17:58] petrelharp commented on #972
This is maybe subsumed in #950, I'll close this one.

[2020-04-24 17:58] #972 closed

[2020-04-27 13:11] jeromekelleher commented on #959
Mostly done in #975, just need to add support for 3.8.

[2020-04-29 09:45] jeromekelleher commented on #963
Closed in #966.

[2020-04-29 09:45] #963 closed

[2020-04-30 00:03] petrelharp opened #981 "Fix OOA example"
As described here: https://github.com/popsim-consortium/stdpopsim/pull/496 the example [in the docs](https://msprime.readthedocs.io/en/latest/tutorial.html#id1) is slightly wrong - this should be fixed and the subtle reason it was wrong should be explained.

[2020-04-30 00:22] apragsdale commented on #981
I can have a go at fixing the model here as well. I also saw in the docs that there is a todo to include a digram of the model. Would something like this figure work here: https://github.com/apragsdale/demography/blob/master/examples/figures/gutenkunst_ooa.pdf

[2020-04-30 07:41] jeromekelleher commented on #981
Thanks @apragsdale, that would be very helpful. An SVG version of the plot you linked to would be really helpful in the docs.

This is a serious problem though, as a bunch of papers have used the wrong version of the model. :frowning_face:

[2020-04-30 08:03] apragsdale commented on #981
Ah, oh no. That does appear to be a more serious problem than I thought. Not sure what else to do at this point, aside from fixing it and attaching the note that is included now.. let me know if I can help with anything else with it.

[2020-04-30 08:07] jeromekelleher commented on #981
Thanks @apragsdale, I appreciate it. I'll have a think about how to best handle this.

[2020-04-30 13:41] petrelharp opened #983 "no simulation happens if all samples are ancestral"
For instance:
[code]
... so, there's no trees! Nothing has happened!  Adding a sample at time 0 gets trees.

It's a bit wierd, I know, but it'd be easy to at least check if this is going to happen and throw an error if so.

[2020-04-30 13:57] jeromekelleher commented on #983
Should we try to detect it and handle it properly or just error?

[2020-04-30 15:16] petrelharp commented on #983
Depends how easy handling it properly is; I haven't looked into it.

[2020-04-30 16:17] petrelharp commented on #981
One check on how serious this is would be to compare theoretical coalescence time distributions for the two models on the last time period (where they might differ), using `coalescence_rate_trajectory()`.  This doesn't check how different linkage would be, though.  @apragsdale, perhaps you could calculate some of your linkage stats for the two models, and see how they differ?

[2020-04-30 17:30] #981 closed

[2020-04-30 18:07] jeromekelleher commented on #983
I don't think it'd be too bad, probably just a case of detecting the condition in C and winding the clock forward until the first sampling event. Would have to make sure that demographic events etc, are properly handled too of course.

[2020-05-01 23:05] ShyamieG opened #984 "Bus error when running WG sim with recombination map"
Hello all,

I've been trying to get some msprime simulations running on our HPC at UC Davis but have been running in to a persistent error. The job will run for between 40-60 hours and then fail, with nothing more than a "bus error". I've been going back and forth with the sys admins about this issue, but unfortunately have not been able to resolve it. I am wondering if any of you might be able to

[2020-05-01 23:24] molpopgen commented on #984
Would you be able to tell us what version you are using.  You can get this by:

[code]

[2020-05-01 23:26] benjeffery commented on #984
Hi @ShyamieG, thanks for the report.
Just to check simple things first, is it possible the device you are writing to becomes full? That can sometimes result in a `SIGBUS`.

[2020-05-01 23:45] ShyamieG commented on #984
Thank you both for your prompt responses!

@molpopgen I'm running msprime 0.7.4

@benjeffery I can look into this - I think there should be plenty of space on the device. But are you saying that if msprime is trying to write out a file that is larger than some limit it can throw this error?

[2020-05-01 23:58] molpopgen commented on #984
Thanks.  I'll see if I can replicate on my local machine.

[2020-05-02 00:00] benjeffery commented on #984
Bus error is a system error. Msprime is triggering it somehow, but it is not an error that is specific to msprime. This could def be a bug in msprime, don't get me wrong!

Apparently `SIGBUS` can be raised when reading past the end of an `mmap'd` file or unaligned memory access.

[2020-05-02 00:03] molpopgen commented on #984
Yeah, that's why if figured trying it on different hardware may help.

[2020-05-02 00:05] ShyamieG commented on #984
Got it. Okay, I can look into this.

[2020-05-02 08:17] benjeffery commented on #921
I believe all this is complete now, closing.

[2020-05-02 08:18] #921 closed

[2020-05-03 14:35] JereKoskela opened #985 "Demographic events not interacting with multiple mergers"
This code implements a demographic event in the Beta coalescent, and behaves strangely:
[code]
Varying the value of `N0` between `N0 = 1e5`, `N0 = 1e4`, and `N0 = 1e3` results in respective runtimes of around 1 second, 4 seconds, and more than several minutes. Smaller effective population sizes should result in faster mergers, so the changes are in the wrong direction. What's more, then Beta coale

[2020-05-03 15:14] molpopgen commented on #984
It ran to completion on my local machine:

[code]
The resulting VCF file is 1.2G

it would seem that this is something specific to your HPC nodes, then.

[2020-05-03 21:28] JereKoskela commented on #985
Come to think of it, we should probably turn off variable population size for multiple merger coalescents if that's easy to do, at least for the time being, because the interaction of variable population size and multiple mergers is not necessarily simple.

For example, a Beta-Xi-coalescent with parameter `1 < alpha < 2`, per-generation growth rate `g > 0` and time scaling `c` will experience popu

[2020-05-03 23:11] benjeffery commented on #984
I've just kicked off my own recreation. @ShyamieG I assume you're on python 3.6?

[2020-05-03 23:53] ShyamieG commented on #984
@molpopgen Very interesting. Maybe I should just try on my own machine, too. Thanks for looking in to this!

[2020-05-03 23:55] ShyamieG commented on #984
@benjeffery I'm on python 3.7.4.

[2020-05-04 00:22] molpopgen commented on #984
It took 30 hours on my machine.

[2020-05-04 07:49] jeromekelleher commented on #985
Ah, good catch @JereKoskela. I think we'll need to go through the various ``change_state`` function pointers for the events, and return an error if they do something that incompatible with one of these models. Like, in ``msp_change_population_parameters`` we return an error if ``growth_rate`` != 0 and if the current model is a beta coalescent. We'll need to check this when the model starts as well

[2020-05-04 09:01] jeromekelleher opened #987 "Likelihood methods missing docstring comments"
We're not getting any function documentation for e.g. https://msprime.readthedocs.io/en/latest/api.html#msprime.log_arg_likelihood

[2020-05-04 16:12] jeromekelleher opened #988 "[Docs] Review migration rates documentation"
A persistent source of confusion in msprime has been what the migration in rates in msprime actually mean.

#978 updated the simulation model section with some clarifications from @petrelharp, and harmonised the usage of source/dest in the MigrationRateChange and MassMigration events. We should review this, and try to clarify as much as possible - perhaps adding a section in the tutorial to really

[2020-05-04 16:13] #666 closed

[2020-05-05 21:57] benjeffery commented on #984
My recreation has also completed (I did python 3.7.7 in the end so not exactly the same version). It took 26 hours to make a 1.2GB VCF. No bus error.

What's the quickest you can get it to error? If it isn't too bad we could run a debug build and get a stacktrace.

[2020-05-05 22:10] ShyamieG commented on #984
That's good to know! I'm giving it a whirl too on my own computer now and it's been running for about a day. If that finishes, I have other simulations coded up to look at increasing Ne, decreasing Ne, single pulse of admixture, etc. that I am hoping to run once I have figured how to get around this bug. For the steady Ne sim, the quickest it has given the error is around 40 hours, unfortunately.

[2020-05-06 13:18] jeromekelleher opened #991 "Remove tskit compatability layer?"
To avoid breaking people's code while we split msprime from tskit, we have a compatibility shim in ``__init__.py`` which imports tskit classes into the msprime namespace. So, for people who used things like ``msprime.TableCollection`` their code would still work.

For 1.0, we need to decide whether we keep supporting this or not. The pros for removing are, we'll need to do it at *some* point, and

[2020-05-06 14:06] benjeffery commented on #991
Usual thing to do here is throw out a warning for a couple of releases, saying when the deprecated stuff will be removed.

[2020-05-06 15:05] jeromekelleher commented on #991
Hmm - how would you warn if people *use* these things though? We're just importing, .e.g., ``tskit.TreeSequence`` and putting it into the msprime namespace. I don't see how we could warn when people use them, without having something convoluted. I don't want to just spam people with warning that (almost certainly) isn't relevant to them at import time.

[2020-05-06 16:33] benjeffery commented on #991
Agreed that only should warn on usage. You can do that by setting a custom __getattr__ on the module.

[2020-05-06 16:58] jeromekelleher commented on #991
Cool, that would be be great.

[2020-05-07 05:20] petrelharp opened #1006 "allow more general choosing of alleles in mutation models"
So, it turns out that while our mutational model is as flexible as one would want for, say, phylogenetics, it doesn't do what we need to for SLiM. There is more hashing out of the details in [this pyslim issue](https://github.com/tskit-dev/pyslim/issues/77), specifically [here](https://github.com/tskit-dev/pyslim/issues/77#issuecomment-619095634), but the upshot is:

- We currently throw an error

[2020-05-07 09:22] jeromekelleher opened #993 "[Docs] Update front matter"
The introduction ("reimplementation of ms") needs to be modified; maybe also think of what else should be there, as a landing page?

Once we have the right description, make sure this is propagated to the README.md, README.rst etc so that it shows up in the PyPI page as well.

[2020-05-07 09:26] jeromekelleher opened #994 "[Docs] Installation needs refresh"
The installation page needs a refresh - Python versions are out of date, etc.

We should also mention how to run using the Docker image.

For HPC users, we might mention the [easybuild](https://easybuild.readthedocs.io/en/latest/version-specific/Supported_software.html?highlight=msprime#list-software-msprime-765) option. We'd probably need to learn how to update this recipe also (but I know one of

[2020-05-07 09:28] benjeffery commented on #994
I'm assuming we intend to get wheels in for 1.0. At that point the build dependencies should only be needed in unusual cases.

[2020-05-07 09:31] jeromekelleher opened #995 "[Docs] Add quickstart section to the tutorial"
At the very start of the tutorial, add an example that does something useful that people can use as a starting point. This should do something like

- Simulate (e.g.) an island model with Ne, recombination and mutation rates suitable for some species
- Do some simple analysis on the variants, output to VCF
- Then do something like compute an allele frequency spectrum using tskit.

This would be de

[2020-05-07 09:35] jeromekelleher opened #996 "[Docs] Basic division between "trees" and "mutations""
We're planning on having much deeper functionality for simulating mutations, and so we want to reduce the impression that msprime is an ancestry simulator with some mutation simulating stuff tacked on.

We could have two top level API pages, "Ancestry API" and "Mutations API"? Or keep a single API page and split it into two sections?

What about the tutorial then? Something like

- Quickstart (dem

[2020-05-07 09:40] jeromekelleher opened #997 "[Docs] Move OOA example to tutorial/demography/complete example"
We decided that the OOA example is good to keep around.

We should put a date/version number on the warning box, being precise about when the wrong version of the model was identified.

(I'd also like to have a blog-post or something about this to give people an idea of what they might expect if they *did* use the old model. We should link to this.)

[2020-05-07 09:52] jeromekelleher opened #998 "[Docs] Make tutorial/models section"
Move "hybrid simulations", "completing forward sims" and the multiple merger coalescent stuff in there.

[2020-05-07 09:55] jeromekelleher opened #999 "[Docs] Move species trees tutorial section to "demography""
Currently in the grab-all "advanced features". This will probably get an editing pass when planned demography features (e.g. #970) come though, so don't worry about how big it is.

[2020-05-07 09:57] jeromekelleher opened #1000 "Issue 1000!"
Landmark reached! :tada: :fireworks:

[2020-05-07 09:58] benjeffery commented on #1000
![giphy](https://user-images.githubusercontent.com/8552/81281369-a8fb1780-9051-11ea-8e00-05818f53d33e.gif)

[2020-05-07 10:02] jeromekelleher opened #1001 "[Docs] New tutorial/analysis section"
This section is to help users understand how to effectively run lots of simulations and how to analyse then.

Can start by moving the current ``advanced features/replication`` section in there.

I think @gtsambos and @agladstein have some ideas for a section in there on running simulations from priors?

[2020-05-07 11:15] jeromekelleher opened #1002 "[Docs] New tutorials/ARGs section"
Make a new section in the tutorial to hold the current "Recording the full ARG" and "Evaluating likelihoods" sections.

Probably "ARGs" is the right name for this?

[2020-05-07 11:19] jeromekelleher opened #1003 "[Docs] Add initial table of functions/classes to Python API section"
Inspired by the [Python docs](https://docs.python.org/3.5/library/functions.html), make some sort of table, short subsection listing the various functions and classes by usage. For example, all the Demographic events should be grouped together, and all the different simulation model classes grouped together.

Not sure how these can be best displayed, but the idea is to provide a single place where

[2020-05-07 11:29] jeromekelleher opened #1004 "Binary wheels"
Infrastructure for building binary wheels automatically is in the pipeline (https://github.com/tskit-dev/kastore/pull/118). I'm making this issue to track the progress here for msprime.

The extra complexity here is whether we can pull in GSL as part of the wheel (there's no real point in having the wheel if we can't). I'm hoping that we can use the version of GSL that's available in the manylinux

[2020-05-07 11:31] jeromekelleher commented on #994
Agreed - see #1004 for details tracking the progress of binary wheel building.

[2020-05-07 11:33] jeromekelleher commented on #1004
I don't think we should bother trying to make binary wheels on Windows - it's not worth the effort since Windows users are almost certainly going to be using conda anyway.

OSX is pretty marginal whether it's worth bothering with. I would lean towards "no",  but if it's easy to do then there's no point in not doing it.

[2020-05-07 11:34] grahamgower commented on #1004
If you static link, it should bring in only what's used.

[2020-05-07 12:40] JereKoskela commented on #987
Closed in #992

[2020-05-07 12:40] #987 closed

[2020-05-07 12:59] jeromekelleher opened #1005 "[Docs] Update section on "simulating multiple chromosomes""
This is currently out of date and, should be using the ``discrete`` option to RecombinationMap.

Also some important details should be spelled out. @apragsdale, would you mind listing out what needs to be said here?

[2020-05-07 13:00] jeromekelleher commented on #950
See also #1005

[2020-05-07 13:01] jeromekelleher commented on #987
Just FYI @JereKoskela, this will happen automatically if you put text like

[code]

Either on a line in the commit message or in the PR opening text.

[2020-05-07 13:45] agladstein commented on #1001
Yes, https://github.com/tskit-dev/msprime/issues/825 would be part of that.

[2020-05-07 14:24] petrelharp commented on #1000
woohooo!!!

[2020-05-07 23:11] gtsambos commented on #997
also relevant to this issue from @hyanwong:

[2020-05-08 07:05] gtsambos opened #1007 "[Docs] Change order of migration subsections"
See [this comment](https://github.com/tskit-dev/msprime/pull/986#pullrequestreview-405271532) by @agladstein

I will do this as the pictures accompanying the text also should be changed.

[2020-05-08 07:34] hyanwong opened #1008 "[Docs] HTML demographydebugger formatting?"
I wonder if someone could make the DemographyDebugger output in a Jupyter Notebook use html tables etc via _html_repr_, like @benjeffery did for tskit tables (https://github.com/tskit-dev/tskit/pull/514). It would make the demography docs look *much* nicer, and I guess it wouldn't be much work for someone who knows the expected DemographyDebugger output well (I don't, otherwise I might do this!)

[2020-05-11 08:39] jeromekelleher commented on #997
Yes, it's a great idea @hyanwong. What we could do simply enough is to define our OOA example in a file and then check that it's identical to the stdpopsim version (which we can import) as part of CI. We have some infrastructure in stdpopsim for comparing models. We can then literalinclude the local version in the docs, and have some faith in the fact that it's correct.

[2020-05-11 08:40] jeromekelleher commented on #1008
Duplicate of #385.

[2020-05-11 08:40] #1008 closed

[2020-05-11 10:09] jeromekelleher opened #1010 "Revert changes to ``get_ll_representation`` signatures."
Recent changes made in #989 altered the signature of the get_ll_representation function in demographic models. It turns out that stdpopsim was using these functions.

Back out of the changes, and document the issue in the code so that we can update later once stdpopsim has been moved away from using this internal API.

https://github.com/popsim-consortium/stdpopsim/issues/518
https://github.com/po

[2020-05-11 14:50] jeromekelleher opened #1011 "Review attrs usage in demography module"
And add types, limits etc where they might be useful (without breaking old code).

See #990 for more background.

[2020-05-11 14:52] jeromekelleher opened #1012 "Harmonise defaults in demography classes"
In some places we're using None as the default and others it's -1. Since these are simple data classes which should never change, it would be good to use the actual values passed down to the lower-level code for simplicity.

See also #1011

[2020-05-11 15:04] jeromekelleher opened #1013 "Add new PopulationMerger/PopulationSplit event?"
Given the confusion created by MassMigration events and that fact that we have repeatedly forgotten to set migration rates to zero when populations merge (going backwards in time), I think we should add a new event which does this. Specifically, move all lineages out of the ``source`` population and into the dest, **and** set all migration rates into ``source`` to zero. This is the same semantics

[2020-05-11 16:36] molpopgen commented on #1013
I think that the confusion would be solved by a few examples up front in the manual.  Any new types would probably simply wrap the existing functionality anyways, so I'd think it is better to maintain backwards compatibility and not have several types doing the same thing.

[2020-05-11 17:17] jeromekelleher commented on #1013
We'll keep the existing types, so there's no backwards compatibility issues. What I'm suggesting is really an event that is equivalent to set of other events. So, this would be equivalent if we had 4 populations:

[code]
and
[code]
This seems less error prone, no?

[2020-05-11 17:20] petrelharp commented on #1013
I vote for describing it in real terms, so: `PopulationSplit`.

[2020-05-11 17:27] jeromekelleher commented on #1013
Sounds good @petrelharp - what are the parameter names you'd use?

[2020-05-11 17:39] apragsdale commented on #1013
I agree with @petrelharp that using real/forward-thinking terms is easier to understand. But that makes `source` and `dest` a bit awkward (if I think of a population split event with source 1 and destination 0, I'd think of splitting the population in deme 1 into demes 0 and 1, instead of the opposite). So maybe `PopulationMerger` makes sense if we want to be consistent with the source/dest langua

[2020-05-11 17:51] petrelharp commented on #1013
I really don't think we should call it `PopulationMerger`, since there will be people who use it, thinking that it does a population merger, when it does the opposite.

Good point: but, this is a new method, so we don't have to use "source" and "dest" at all. Perhaps just `pop1` and `pop2`, then say in the docs exactly what happens? Or `ancestral_pop` and `derived_pop`?

[2020-05-11 17:58] apragsdale commented on #1013
Agree that `PopulationMerger` would be confusing. Maybe `PopulationSplit(ancestral_pop=A, derived_pops=[A, B, C, ...])` allows for the split into two or more populations?

I always have to stop and think about how to use source/dest and double check I'm not sending migrations in the wrong direction.. it is confusing.

[2020-05-11 18:04] molpopgen commented on #1013
If we add new event classes, then perhaps they should be mutually incompatible, meaning that a model is invalid if its ``demographic_events`` contains both ``MassMigration`` and the new types?  It seems to only add to confusion if we allow the older type causing confusion to be mixed in with the new types if the default handling of migration rates differs b/w the two.

[2020-05-11 18:43] grahamgower commented on #1013
In general, I think this is a great idea. +1 for PopulationSplit. And to throw another parameterisation option into the mix, how about `PopulationSplit(populations=[A, B, ...])`, where A splits into A and B  (and ...) forwards in time?

[2020-05-11 18:47] grahamgower commented on #1013
What about MassMigration with proportion<1?

[2020-05-11 18:52] molpopgen commented on #1013
Then you still risk mixing types with different default side-effects.  Documenting that will be tricky.

[2020-05-11 19:04] apragsdale commented on #1013
I think it would be good to be very explicit about which one is the parental population, since `PopulationSplit([A, B, ...])` and `PopulationSplit([B, A, ...])` would have different behavior and could lead to unintended model misspecification. If the goal is to make model mistakes less likely, having the extra keyword is safer I think.

[2020-05-11 19:08] grahamgower commented on #1013
Yeah, you're probably right. `PopulationSplit(ancestral_pop=A, derived_pops=[A, B, C, ...])` also has the advantage that the ancestral_pop needn't be in the derived_pops.

[2020-05-12 06:49] hyanwong commented on #958
It would be nice to get this change in for my Phyloseminar talk, and I think it's quite simple now that we use attrs. Should I do it, or is someone else on the case @jeromekelleher ?

[2020-05-12 06:54] hyanwong opened #1017 "Update Demography API to use tskit metadata schemas."
I would like to be able to get the `species_name` for a population without having to use `json.loads`. I'm not sure how one passes a metadata schema into the `PopulationConfiguration` class, though? At the moment it's being called with `metadata={"species_name": node.name.strip()}`:

https://github.com/tskit-dev/msprime/blob/70961b716b0a6c379296c8cdf335f4252f1ab5ed/msprime/species_trees.py#L225

[2020-05-12 07:42] jeromekelleher commented on #1017
That's the plan all right. I'm going to use msprime as the first application of the schemas. We need to get tskit 0.3 released first though.

[2020-05-12 07:44] jeromekelleher commented on #958
It's in progress in #970, but got paused as I've gone through a general overhaul of demography. I'm hoping to get this done this week.

[2020-05-12 09:34] jeromekelleher commented on #1013
Another thought for the mix: what if we added another ``Admixture`` event (with appropriately named parameters) and then deprecate (but keep indefinitely)  ``MassMigration``?  Then the only place we have the ``source`` and ``dest`` names is in the MigrationRateChange, and these have not been released yet. In the current version, the parameter to MigrationRateChange is ``matrix_index``, which is pe

[2020-05-12 09:41] #1000 closed

[2020-05-12 09:42] jeromekelleher commented on #984
Any luck reproducing this @ShyamieG? I think if we can't reproduce this outside your HPC environment it's most likely to be a problem there rather than an issue with msprime.

[2020-05-12 09:45] jeromekelleher commented on #911
Could also be useful in for verifying mutation models now, in addition to comparing with Seq-Gen ( #1014), @GertjanBisschop ?

[2020-05-12 09:46] jeromekelleher commented on #911
I've changed the name of the issue, since there's no point in providing a recipe if we can do this stuff in-house.

[2020-05-12 09:49] #646 closed

[2020-05-12 13:25] jeromekelleher opened #1018 "Complete Seq-Gen comparison and validate JC69 model"
#1014 added some initial infrastructure for comparing with SeqGen. Finish this infrastructure work so that we can compare the output of msprime and SeqGen, and validate JC69 model.

[2020-05-12 13:51] jeromekelleher opened #1019 "Add HKY mutation model"
Add a new mutation model to ``msprime.mutations`` to correspond to SeqGen's HKY model. I guess it should look  something like this:
[code]

But, maybe class structure isn't the right way to do this and we should use static functions instead, like
[code]

We can use classes initially anyway and decide what the right structure is afterwards when we have a number of examples.

[2020-05-12 13:58] jeromekelleher opened #1020 "Implement F84 mutation model"
Should be very similar to the HKY model, as discussed in #1019.

[2020-05-12 13:59] jeromekelleher opened #1021 "Change C mutation model code to accept Unicode"
Currently need to mess around with converting from bytes, which is confusing and error prone. Easy enough change.

[2020-05-12 14:01] jeromekelleher opened #1022 "Implement GTR mutation model."
This is a 6 parameter nucleotide model. From the SeqGen docs:

[2020-05-12 15:00] jeromekelleher opened #1023 "Amino acid mutation models"
After implementing nucleotide mutation models (#1019, #1020, #1022) we should implement some amino acid models. We probably don't need to implement all of the models from SeqGen, maybe two would be sufficient. Say, PAM and Blosum62 (arbitrarily)?

[2020-05-12 15:10] jeromekelleher opened #1024 "Documentation for mutation models"
This is a meta-issue which can be closed when we have 'good' documentation for general mutation models. This means

- [ ] Thorough API documentation for all implemented models
- [ ] A quick lookup table listing the models implemented with links to the model documentation
- [ ] Some sort of tutorial

See also #950

[2020-05-12 16:08] ShyamieG commented on #984
@jeromekelleher No, I haven't been able to reproduce this error - it successfully ran on my personal machine (although it did take about 70 hours). It definitely seems to be an issue specific to the HPC I'd been using. This has been really helpful in confirming that. Thanks again to you, @benjeffery and @molpopgen. I'll close this thread now.

[2020-05-12 16:08] #984 closed

[2020-05-12 16:39] molpopgen commented on #984
A few final thoughts:

When you cannot reproduce a bizarre HPC issue on a local machine, it helps to consider the typical differences between the two.  The two most important usually are:

1. The HPC uses some fancy networked and distributed file system, and the local machine typically used some local (directly attached) storage.

2. The HPC compiler tool chain may be badly managed.  For example,

[2020-05-12 16:51] ShyamieG commented on #984
Interesting, thanks for that information. I installed msprime via conda, so does that rule out #2?

I will ask about #1. The code does seem to work on my machine, but it takes a lot longer to get results, so I'd obviously still prefer to run on a HPC.

[2020-05-12 17:01] grahamgower commented on #984
It's also possible the HPC uses a hardware architecture with strict alignment requirements. Is this a simple x86_64 system? (what does `uname -a` output?)

[2020-05-12 17:07] molpopgen commented on #984
Probably, yes.  Assuming you properly loaded your environment, etc..

[2020-05-12 17:10] jeromekelleher commented on #984
Interesting theory @grahamgower!

[2020-05-12 17:41] ShyamieG commented on #984
Hi @grahamgower. This is the output of that command:

Linux augrabies 4.15.0-91-generic #92~16.04.1-Ubuntu SMP Fri Feb 28 14:57:22 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-05-12 17:51] grahamgower commented on #984
Thanks @ShyamieG. Looks like my suggestion was a red herring. I guess itanium, sparc, and other non-x86 HPC systems are now properly extinct.

[2020-05-12 18:21] jeromekelleher opened #1026 "Refactor verification.py script"
The ``verification.py`` has gotten very bloated and badly factored after years of piecemeal additions, and needs a thorough refactoring. Here's some ways it might be improved:

- currently there's no way to group tests. We'd like to be able to run the "ms" tests (ones where we call add_ms_instance), or dtwf_vs_coalescent tests separately, as each group of tests can take quite a long time now.

- T

[2020-05-12 18:21] jeromekelleher commented on #1026
I think @saunack is having a look at this?

[2020-05-13 09:10] jeromekelleher opened #1027 "Is ``PopulationConfiguration.num_samples`` significant in DemographyDebugger?"
Currently, the demography debugger has some quirky workarounds in the constructor to make sure that we can create a simulator instance, given the various different patterns of inputs. I think this can be simplified a bit, but want to check first.

Should sample sizes be seen as significant to the DemographyDebugger **at initialisation**, or should the ``num_samples`` arguments be ignored entirely

[2020-05-13 13:06] petrelharp commented on #1027
I'm not sure what you mean by 'ignored'? But everything I use the demography debugger for doesn't need num_samples. It could be a default to eg [coal rate trajectory](https://msprime.readthedocs.io/en/stable/api.html#msprime.DemographyDebugger.coalescence_rate_trajectory) but isn't.

[2020-05-13 13:57] jeromekelleher commented on #1027
I mean when a user provides ``PopulationConfiguration`` instances as input, it has a ``sample_size`` attribute, which has to be fiddled a little so we can create a simulator instance. The values are not (I think) used anywhere else in the debugger - where we need sample sizes, they are provided as input.

[2020-05-13 14:54] petrelharp commented on #1027
I think that's right, yes.

[2020-05-13 16:26] jeromekelleher commented on #1027
OK, I'll formalise this.

[2020-05-14 17:38] hyanwong opened #1029 "Need to add newick module as a standard dependency"
It's used in user-code (`parse_species_tree`), but only listed in the development requirements, I think. At least, if I install from git, importing msprime now fails because newick isn't installed.

[2020-05-14 18:22] jeromekelleher commented on #1029
Good catch, thanks @hyanwong.

[2020-05-17 10:12] #1029 closed

[2020-05-17 10:18] hyanwong commented on #59
This issue is very old, and nor tree sequences are immutable, so it should (I think) be trivial to stick an example in the docs for running multiple parallel instances of mutate() on the same tree sequence. I suggest that we should also recommend using branch length stats as an alternative, if the point of replication is to reduce statistical variance in some metric. As I think it's trivial to clo

[2020-05-18 10:15] jeromekelleher commented on #59
I don't think it's that trivial @hyanwong because of the GIL, actually getting stuff to run in parallel in threads isn't that easy. I think we can just close the issue though, as everything we've said above is out of date.

[2020-05-18 10:15] #59 closed

[2020-05-21 11:49] jeromekelleher opened #1033 "Populations should have string IDs, and these IDs can use used in DemographicEvents"
When we're referring to populations, we should have the option of referring to them by string IDs. This would likely be a lot less error prone than having to remember indexes.

Although, best practices would indicate that users should be defining the population indexes in variables, rather than hard coding index numbers?

Affects work in progress in #1025.

[2020-05-21 16:57] jeromekelleher opened #1034 "Make "fake" release to fix OOA model on read the docs?"
The [faulty OOA model](https://github.com/jeromekelleher/msprime-model-errors) is still live on the stable branch of [readthedocs](https://msprime.readthedocs.io/en/stable/tutorial.html#demography). We should fix it.

Readthedocs is quite singleminded about things, and I've learned it's easiest to just go with how it does things. The easiest way to get this model fixed, I think, is to

1. Create a

[2020-05-21 16:59] benjeffery commented on #1034
I'm almost certain you don't need to make a github release, just the tag.

[2020-05-21 17:00] benjeffery commented on #1034
Also, don't need a hotfix branch - just add an additional tag to the last release commit.

[2020-05-21 17:00] jeromekelleher commented on #1034
We need to add another commit though - this has to happen on a branch, right?

[2020-05-21 17:01] benjeffery commented on #1034
Yeah, I typed too fast.

[2020-05-24 17:00] jeromekelleher opened #1036 "Provide APIs for demography equality comparison"
This is needed upstream in stdpopsim. Currently uses internal API, which causes problems (see #1010). We should provide the basic functionality that stdpopsim needs here.

https://github.com/popsim-consortium/stdpopsim/issues/535

[2020-05-24 17:05] jeromekelleher commented on #1036
See also #1033, #1013 and other issues on the Demography API refactoring.

[2020-05-24 17:09] jeromekelleher commented on #971
Superseded by more specific issues in the mutation models project.

[2020-05-24 17:09] #971 closed

[2020-05-24 17:19] jeromekelleher opened #1037 "Remove extra parameter in DemographicEvent.get_ll_representation"
We have an extra unused parameter in the get_ll_representation for each DemographicEvent class. This is needed because stdpopsim will uses this until msprime 1.0 is released. Stdpopsim should then transition to using the richer API from msprime instead of doing things locally.

https://github.com/popsim-consortium/stdpopsim/issues/535

Once stdpopsim 0.2.0 has been released using this new API it s

[2020-05-24 17:33] #1010 closed

[2020-05-25 06:20] grahamgower opened #1040 "SimpleBottleneck breaking change between 0.7.4 and current master"
Stdpopsim uses SimpleBottleneck in a couple of unit tests, despite its undocumented status. One unit test now breaks when using git master, because the population parameter is not explicitly provided. Previously SimpleBottleneck had a `population=None` default, but this has been removed in the transition to being an attr class.

0.7.4
[code]

current
[code]

[2020-05-25 08:27] jeromekelleher commented on #1040
Thanks @grahamgower - we should fix this, unless the old semantics are obviously wrong and need to be changed.

[2020-05-25 08:32] grahamgower commented on #1040
I didn't take a close look at how stdpopsim unit tests are using this, but I daresay it's non-essential and could/should be removed from there anyway.

[2020-05-25 18:18] ShyamieG commented on #984
I think I've figured this out! I had installed msprime via conda, but not in its own environment. When I did that, and loaded the environment before running the msprime python code, my simulations successfully completed on the HPC with no error.

Thanks, everyone, for your ideas to help me solve this issue! I had been stuck on it for months.

[2020-05-26 08:08] jeromekelleher commented on #984
Weird! Thanks for letting us know @ShyamieG, that's really helpful.

[2020-05-26 16:15] petrelharp opened #1041 "clarify recombination docs"
@ndukler points out that the documentation about recombination rates talks about two columns, but the examples have four? A few more sentencs might help?

[2020-05-26 18:19] grahamgower opened #1042 "two compiler warnings"
I didn't check if these are real bugs, but they are suspicious warnings. And I'm using a recent gcc so maybe these haven't been noticed by anyone else?

[code]

[code]

[code]

[2020-05-26 19:03] #1042 closed

[2020-05-27 11:59] grahamgower commented on #1040
This will be fixed in stdpopsim.

It's also not clear to me that having a default population is a sensible thing at all. Defaulting to a bottleneck in all populations seems like a bad idea, because this is such an uncommon use case I reckon it will be more often used in error.

[2020-05-27 11:59] #1040 closed

[2020-05-28 07:42] TPPSellinger opened #1046 "Core dumped error"
I got the following error :
[code]
After running the following code :
[code]
The error does not always occur, it might run couple of iterations before crashing.

[2020-05-28 07:47] jeromekelleher commented on #1046
Thanks for the bug report @TPPSellinger, this is very helpful. Can you tell us what version of msprime you're using please? (If you put ``print(msprime.__version__)`` into your script above somewhere it'll write it out).

[2020-05-28 07:49] TPPSellinger commented on #1046
My version was : 0.7.5.dev202+ng73eccfe

[2020-05-29 11:37] jeromekelleher opened #1047 "[Demography] Export Demography description to "demography" format?"
The [demography package](https://github.com/apragsdale/demography) is an incredibly useful debugging tool. Can we export our demography descriptions in a format that interoperates? It looks like demography uses networkx, so perhaps we could export a description in a low-level dict-of-dicts format that networkx could read in? I don't think we should have a dependency on networkx here, but exporting

[2020-05-29 11:47] grahamgower commented on #1047
I had a go at this already, but ended up just confusing myself. https://github.com/apragsdale/demography/pull/44

[2020-05-29 11:53] jeromekelleher commented on #1047
Very cool @grahamgower! It'd be really nice if we could extract some of the logic there and make it into an export function. Let's see what @apragsdale says - presumably he's done some of this already?

[2020-05-29 14:00] jeromekelleher opened #1048 "Test remaining significant tutorial code chunks and save results"
#1039 added an initial framework for testing out significant code chunks that are defined in the tutorial. Any remaining code chunks we want to keep should be ported to the this framework, and ``old_examples.py`` deleted.

We should also automate the *results* of these code chunks. One way we can do this is to write the results out to a file for each example and the ``literalinclude`` these instea

[2020-05-29 16:37] apragsdale commented on #1047
I'm not sure exactly what you mean, Jerome. Certainly with the upcoming demography API changes, I'm going to have to do some work to make the demography package compatible with the new ways of specifying splits and mass migrations.

Graham put in a bunch of really great work to take msprime demographic_events lists and turn them into the demography objects. I think there were some fundamental diff

[2020-05-29 18:12] grahamgower commented on #1047
I reckon the code I wrote needs to be rewritten to use the demography debugger. That ought to be far simpler, and be compatible with both the existing and new APIs.

[2020-05-29 18:47] apragsdale commented on #1047
Things will need some reworking to also take into account the new PopulationSplit event, but I'm not sure what you mean by using the demography debugger. The debugger just contains the demographic events, population configurations, and a few other things needed to run the simulation. Do you mean the printed output? We'd want to avoid parsing text I think

[2020-05-29 19:00] grahamgower commented on #1047
See the `epochs` attribute of the DemographyDebugger class. It's a list of epochs, in which demographic parameters are fixed. This is what makes the printed output possible.
https://github.com/tskit-dev/msprime/blob/master/msprime/demography.py#L482

[2020-05-29 19:12] apragsdale commented on #1047
Right, that makes sense - I see what you mean.

All in all, I think the new PopulationSplit event will really help us here. Although we don't get around the difference that msprime reuses population indexes/labels, while the graph considers a parental population as distinct from the child populations. As you found, going from msprime -> networkx demography -> msprime loses the reuse of populations

[2020-05-29 19:30] grahamgower commented on #1047
Yeah, it's hard to see how a one-to-one mapping could be constructed between the two formats.

[2020-05-29 19:34] apragsdale commented on #1047
It would take some refactoring on the `demography` side of things to allow A to split into A&B instead of always setting A into B and C, even if B is some continuation of A. It's certainly doable, but I'd want to see if we think it would be worthwhile before diving into that.

[2020-05-29 19:39] grahamgower commented on #1047
I guess you could do that by using an extra node attribute to signify the "continuation set" to which a node belongs?

[2020-05-31 16:20] grahamgower commented on #1047
Well I've had a lot more success using `msprime.DemographyDebugger` than trying to roll my own. See example dot graphs below. So, assuming this is the intended direction, how much goes into `msprime`, and how much into `demography`? (I haven't done the `demography` yet).

[code]

OutOfAfrica_3G09
![OutOfAfrica_3G09](https://user-images.githubusercontent.com/8665077/83357099-a8ad1e00-a36a-11ea-81e8

[2020-06-01 08:30] #960 closed

[2020-06-01 08:53] jeromekelleher commented on #1047
This looks great @grahamgower! I think the approach of using the DemographyDebugger is great - there's no point in trying to reason about this stuff again when the DDB has done it already.

A new method ``as_graph`` or ``to_graph`` that's your ``ddb_to_graph`` function above would be ideal, I think. If msprime can export a neutral graph format that other packages can understand, that would be idea

[2020-06-01 09:22] benjeffery commented on #1046
I've done 8 iterations on `0.7.5.dev237+gbcef1bd9` without a crash, once the script completes I will checkout `0.7.5.dev202+ng73eccfe` to try to recreate.

[2020-06-01 09:24] TPPSellinger commented on #1046
I have also just did 10 (version 0.7.5.dev202+ng73eccfe again). Also without a crash.

[2020-06-01 09:27] TPPSellinger commented on #1046
I am now running with a sharper demographic scenario. It might help unveil something.

[2020-06-01 09:29] benjeffery commented on #1046
Running with a fixed random seed would be good - as crash may be dependant on it (I really hope not though!)

[2020-06-01 09:31] TPPSellinger commented on #1046
True, I didn't think of that. I will run simulations with fixed seed and let you know if anything comes out of it.

[2020-06-01 09:46] jeromekelleher commented on #1046
When debugging this stuff it's a good idea to specify the random seed so we can reproduce. Something like
[code]
Once we have a seed that reproduces the problem,  fixing the issue will  be straightforward.

[2020-06-01 12:24] #997 closed

[2020-06-01 18:54] jeromekelleher opened #1051 "Fix up time scaling in multiple merger models"
#1028 removed the concept of a "reference size" for simulation models entirely, as it turns out that it did nothing. That PR removed all the infrastructure for moving back and forth between time scales. However, the multiple merger coalescents are not quite right afterwards, and some of the code will need to be ported back. See https://github.com/tskit-dev/msprime/pull/1028#issuecomment-637019349

[2020-06-01 18:55] #766 closed

[2020-06-01 18:55] #941 closed

[2020-06-01 19:03] jeromekelleher opened #1052 "Clarify calculations in Hudson model"
In #1028, we removed the concept of model.reference_size. In the process, we shoehorned in a factor of 4 into msp_get_common_ancestor_waiting_time_from_rate [here](https://github.com/tskit-dev/msprime/blob/6718266c48706f964364ced485d34c399a94c0c9/lib/msprime.c#L3487). This should be done more clearly, and documented how it matches up with the maths.

We should keep in mind the possibility of addin

[2020-06-01 19:05] TPPSellinger commented on #1051
I will tomorrow investigate a bit deeper all the test we have  and check some other values which could indicate an issue.

[2020-06-01 19:11] jeromekelleher opened #1053 "Factor out high-level Simulator class"
The Simulator class in [ancestry.py](https://github.com/tskit-dev/msprime/blob/6718266c48706f964364ced485d34c399a94c0c9/msprime/ancestry.py#L556) is basically a thin wrapper around the low-level Simulator object in the Python-C interface. It doesn't really do anything much add a bunch of boilerplate, and the functionality it does have could easily be pulled out into functions.

It would be nice if

[2020-06-02 08:09] jeromekelleher commented on #1034
Fixed.

[2020-06-02 08:09] #1034 closed

[2020-06-02 12:55] jeromekelleher opened #1054 "Discourage population reuse in demography API?"
Defining demographic models and interpreting the results is complicated by the fact that we reuse population IDs to mean different things at different times. Should we encourage users to define population models (and give an example in OOA) that explicitly defines and names all the ancestral populations? This would make interpretation of the tree sequence a lot easier later on, and I think make th

[2020-06-02 12:56] jeromekelleher commented on #1054
Ping @grahamgower, @apragsdale

[2020-06-02 14:05] grahamgower commented on #1054
At first glance, this seems like a good idea. But it will be more onerous to specify larger demographies. I guess there'll be on the order of 2*n population IDs for `n` extant populations.

I wonder if the nominal case should be to encourage users *not* to define models manually, but give them a tool to build a demography graphically, and have a machine readable model autogenerated. In this case i

[2020-06-02 14:29] TPPSellinger commented on #1051
I went through all the tests and you are right they all seem to work (which is good). The reason they all work it's because  none of them check the for the population size. We forgot to check if distribution were correct given the population size. This might be a tricky part with multiple merger as @JereKoskela explained. At first we should simply assume constant population size and check if we ha

[2020-06-02 14:33] jeromekelleher commented on #1054
Interesting idea @grahamgower.

[2020-06-02 14:33] apragsdale commented on #1054
I think I'd be more in favor of allowing the flexibility for the ancestral population to be either a new, unused population _or_ a continuation of one of the derived populations. You can imagine cases where both make sense historically (for example, in either some range expansion model or a model with island colonization from a mainland populations for the latter case).

[2020-06-02 14:38] jeromekelleher commented on #1051
This sounds like an excellent plan, thanks @TPPSellinger!

One thing though - we have a large refactor of the verification.py code underway in #1035, and it would be a good idea to wait until that's merged before starting (or else you'll have some horrible conflicts to resolve). Should be merged in the next hour.

[2020-06-02 14:42] jeromekelleher commented on #1054
I agree @apragsdale, we shouldn't be too rigid about it. But, I think PopulationSplit events should have that form ``PopulationSplit(ancestral, derived)`` where ancestral must be a new population and ``derived`` is a list that cannot contain ``ancestral``. We'll still keep the MassMigration events so it'll be fully general.

[2020-06-02 14:42] TPPSellinger commented on #1051
Okay I will wait.

[2020-06-02 14:45] apragsdale commented on #1054
Right, we just want to makes sure we don't lose generality or flexibility in defining models. So I think as long as the MassMigration events still allow for a proportion of 1, we keep that flexibility.

[2020-06-02 15:19] JereKoskela commented on #1051
I'll try to put together an explanation. Let me know if it clarifies things at all @jeromekelleher.

The rates of common ancestor events (n choose 2 for binary mergers and 0 for everything else for Hudson, say) is determined by the infinite-population coalescent process. The relationship between the population size and the waiting times for common ancestor events is not determined by the coalescen

[2020-06-02 15:29] TPPSellinger commented on #1051
Couldn't we just chose and specify the scaling we are using (e.g. the one in Schweinsberg model ) ? Then check that given the scaling we have chosen, the obtained branches make sense ?

[2020-06-02 15:34] JereKoskela commented on #1051
Yes, provided we make precise what it means for branches to "make sense". Results on quantities like unnormalised branch lengths are very sparse for multiple merger models.

In this newest iteration of the code, every model uses the standard Wright-Fisher scaling. I'm intending to go over the code to change it back for multiple merger models asap.

[2020-06-02 15:47] TPPSellinger commented on #1051
I see what you mean. Why not first work with theta, at least for constant population size? I mean if the SFS is good and the theta distribution is also good (given model and model parameters), it would be a first step in the right direction.

PS: should I wait your are done with the code before doing anything ?

[2020-06-02 15:52] JereKoskela commented on #1051
Yeah, that's probably wise. I hope to get things done this week, though that may end up slipping a bit. There's not much point testing an implementation we know is not what we want though. I'll keep you informed.

[2020-06-02 16:11] jeromekelleher commented on #1051
Thanks @JereKoskela, that all sounds good to me. Let's wait on Jere's updates before adding any further verification tests.

[2020-06-02 16:46] jeromekelleher opened #1056 "Decouple test definition from test running in verification.py"
#1035 made a good start on refactoring the verification.py script, which is a big horrible mess.

The next step in the process of making this comprehensible and easier to work with is to decouple the test *definitions* from the actual running of the tests.

What I'd like to see is something like the following
[code]

Thus, the TestRunner does nothing except register and run the tests. All the actu

[2020-06-02 17:02] saunack commented on #1056
Looks good. I got most of it. I'll get back to you in case of difficulties

[2020-06-03 13:55] saunack commented on #1056
@jeromekelleher  I'm having some trouble understanding what exactly will be in the `run()` function, since `add_ms_instance()` uses several functions of the `MsTest` class. Should I pull out all the code from `add_ms_instance()` and use it in `run()`? But that would be extracting out the test definitions as well as code from their original classes. Can you clarify this a bit please?

[2020-06-03 13:59] saunack commented on #1056
Also, another thing: some groups like `dtwf` have multiple tests like `add_dtwf_vs_coalescent_2_pops_massmigration()`, `add_dtwf_vs_coalescent_2_pop_growth()` etc. unlike `ms` in which all tests share the same skeleton `add_ms_instance()`. I'm confirming if we want to create a different class and registering functions for each.

[2020-06-03 15:59] jeromekelleher commented on #1056
Good question @saunack! The way I'm imagining this is that we'll basically transfer the class hierarchy you currently have to Tests. Each test knows how to ``run`` itself, and we should be able to transfer the code across between the classes. For example, the MsCmdTest can look something like this
[code]

[2020-06-03 16:21] jeromekelleher commented on #1056
Anywhere that we have a unique function to run the test, we'll need a new class. We can't do the tricks with defining local functions, because we need to be able to pickle the tests when we'll be parallelising this.  This is a bit tedious, but I hope that once we've rearranged things, it'll become a little clearer how we can factor out common code from the tests into superclasses.

So, in your exa

[2020-06-05 11:27] jeromekelleher opened #1058 "Declarative demography"
After a discussion with @grahamgower this morning, we decided it would be nice to have a *declarative* structure for demography, where we describe what our populations are and how they relate to each other. Here's a first pass at doing the OOA model using a [toml](https://github.com/toml-lang/toml) description:

**Warning: the parameters are WRONG - DO NOT COPY THEM!!**
[code]

Some parts of this

[2020-06-05 13:04] grahamgower commented on #1058
The migration bits could be put in the population stanzas. Something more like this (ommitting the 'popluations' prefix for brevity):
[code]

Convert to json:
[code]

Which looks like this:

[code]

[2020-06-05 13:45] jeromekelleher commented on #1058
That is neater all right. I started out thinking like this, but got a bit worried about putting the same migration rate in twice. Since symmetric migration between two populations is very common in these models, it seems error prone to force people to write it in twice, doesn't it?

[2020-06-05 17:31] grahamgower commented on #1058
Yeah, I suppose so. Another format option could be to use python's [ast.literal_eval](https://docs.python.org/3/library/ast.html#ast.literal_eval), which evaluates (nested) literal python data structures. The json code above can be directly parsed into a dictionary, for example. Compared with json however, comments starting with `#` are accepted, and dictionary keys need not be strings.

But maybe

[2020-06-07 19:21] grahamgower commented on #1058
Below is a yaml example. We could use [strictyaml](https://github.com/crdoconnor/strictyaml) to avoid common yaml problems. But a toml, yaml, etc. format means no user-defined variables, and maths functions aren't available for e.g.
`growth_rate = log(end_size / start_size) / time_delta`. So after playing with some examples, I think I'd favour having a declarative-style Python API instead. Users a

[2020-06-08 14:36] grahamgower opened #1060 "Intermittent test failure: test_models.py:TestMixedModels.test_models_out_of_order"
Sometimes `ValueError` isn't raised in:
[code]
I guess a fixed seed could be used to ensure the simulation lasts to time=10 (or is it time=8?). But probably it makes more sense for this class of checks to occur without actually running the simulation such that failures are 100% deterministic.

[2020-06-08 15:54] #1018 closed

[2020-06-08 16:33] jeromekelleher opened #1061 "Test growth rates in multiple merger coalescents."
#1059 added support for growth rates in multiple merger coalescents, but it's untested. We should either add some tests to check it works or insist that growth_rate is always 0.

cc @JereKoskela, @eldonb, @TPPSellinger

See also #985

[2020-06-08 16:40] petrelharp opened #1062 "miscellaneous test failures"
With dcaae175c42727d7f00c0f54cc997292df2b228c, updated submodules, and freshly-compiled, I get the following errors:
[code]

Looks like there's some things to track down here... but, I'm confused - why didn't CI catch this?

[2020-06-08 19:02] jeromekelleher commented on #1062
Are you *sure* it's recompiled? This is exactly what it would look like if you had an old _msprime.so lying around the place.

[2020-06-08 19:08] petrelharp commented on #1062
Well, doing
[code]
produces (after lots of compiling and things)
[code]
.. and `make clean` is indeed removing `*.so`?

[2020-06-08 19:11] petrelharp commented on #1062
Same thing happens with a totally fresh clone of the git repo.

[2020-06-08 22:50] benjeffery commented on #1062
I can't recreate this.
Can you do:
[code]

[2020-06-09 00:24] petrelharp commented on #1062
I put this call in the failing test, so it tells me now:
[code]

Removing and re-making the named file (`_msprime.cpython-37m-x86_64-linux-gnu.so`) indeed produces the same error.

[2020-06-09 06:50] jeromekelleher commented on #1062
This is very strange. There must be something weird in your python installation. How about trying it in a venv, with a fresh installation of the dev requirements?

ps. It's really not a good idea to use ``python3 setup.py install`` - it does weird things that aren't quite compatible with pip.

[2020-06-09 08:07] jeromekelleher commented on #1058
This is very neat, thanks @grahamgower! This is a little bit different to the graph inspired approach we talked about, where a "population" (as far as this description is concerned) had fixed parameters, and any instantaneous changes meant a new population. Maybe we could call it a "deme" or something as then we can keep the term Population as it is in msprime, currently. This seems nice to me as

[2020-06-09 08:12] jeromekelleher commented on #1056
FYI @saunack, we merged an extra set of tests yesterday in #1032. This added two extra test classes, and it should merge cleanly (hopefully) onto any changes you're making. It would be a good idea to bring your code up to date now though, by rebasing off upstream/master.

[2020-06-09 09:34] jeromekelleher commented on #1051
Closed in #1059

[2020-06-09 09:34] #1051 closed

[2020-06-09 09:37] jeromekelleher commented on #1046
Any luck on reproducing this for an exact seed folks?

[2020-06-09 09:52] benjeffery commented on #1046
I did ~30 iterations without fault, can restart it if we think it's worth it.

[2020-06-09 09:58] jeromekelleher commented on #1046
Let's see if Thibaud has any updates.

[2020-06-09 10:09] TPPSellinger commented on #1046
I also  did  ~ 30 iterations  without any issue.

[2020-06-09 10:11] TPPSellinger commented on #1046
I here are the seed I work with so we don't compute the same simulations :
[code]
Should I let the code  run or stop ?

[2020-06-09 10:12] jeromekelleher commented on #1046
Let it running if you don't mind @TPPSellinger, might take a while to show up.

[2020-06-09 10:17] benjeffery commented on #1046
Cool, to put this to bed I'll run 8 processes in parallel starting at seed 100,000.

[2020-06-09 10:29] jeromekelleher commented on #1027
In #1025 this was formally moved to being ignored. The Demography object decouples sampling from description. Any methods that need samples, take them as a parameter.

[2020-06-09 10:29] #1027 closed

[2020-06-09 13:44] jeromekelleher commented on #850
Moved this to a new milestone, as it doesn't look like the pedigree code will be ready for primetime at 1.0. There's not a huge amount to do, I think, but there's too may other things that need to be prioritised.

[2020-06-09 13:52] grahamgower commented on #1058
For some reason, I had it in my mind that this was just referring just to msprime's integer population IDs for internal nodes of the demography, like `AMH` and `OOA` above. So you're suggesting that each population size change introduces a new population ID as well? So a zizag model would have a new ID for each size change?

Being able to define multiple demes for a given population (ID) would be

[2020-06-09 14:05] jeromekelleher commented on #1058
Maybe - there's a bit of wiggle-room here and it's good to explore the ideas. I think we should concentrate here on what we think is the most expressive and error-free way of describing the population histories, and then figure out how to translate this pack to tskit/msprime populations later. I have no qualms about creating lots of populations - this is something msprime should be handling better

[2020-06-09 15:18] apragsdale commented on #1058
I like where this is headed. When I've worked through some of these similar questions for building the networkx demography objects, if a population has a change in size function or migration rate, I found it easiest to just define those different epoch as separate populations and connect them with an edge. But it's kind of clunky, because you can have some parameters (say migration rates) that sta

[2020-06-09 15:26] jeromekelleher commented on #1058
Good call, let's do it. I'll email to coordinate.

[2020-06-11 09:25] jeromekelleher commented on #1056
The new classes will essentially be the same as the classes that you currently have @saunack, so it's really a fairly minor refactoring from there. The main idea is that we have to change how the tests are registered and run. Instread of a big a class that does essentially everything, we have bunch of test *instances*. These are then much more flexible, and will lend themselves directly to being r

[2020-06-11 12:32] #1053 closed

[2020-06-12 06:17] TPPSellinger commented on #1046
I got one :

seed = 841
python3: lib/msprime.c:743: msp_insert_individual: Assertion `node != NULL' failed.
Aborted (core dumped)

[2020-06-15 09:30] jeromekelleher opened #1070 "API for mutation models"
We now have a number of different matrix mutation models, including amino acid models (#1065). The  current API isn't ideal, I think, and we want to review the API a little bit. This should mirror the structure used in the ancestry.py module for ancestry models as closely as possible. We should also allow for using strings for non-parametric models, same as the ``model`` argument to msprime.simula

[2020-06-15 09:37] jeromekelleher commented on #1046
Thanks @TPPSellinger, I've reproduced this. It takes a while to hit it - I'm a bit puzzled on what's happening, but it's definitely a bug. Having an exact seed to check is a big help, thanks!

[2020-06-15 09:56] jeromekelleher commented on #1046
It would be nice if we could reproduce the other assertion trip as well though. @benjeffery , are you still running the your sims?

[2020-06-15 10:13] benjeffery commented on #1046
Still haven't caught anything, but then I keep hitting the OOM killer when I try to do anything else on the machine.

[2020-06-15 10:16] jeromekelleher commented on #1046
OK, don't run them on your desktop, we have some servers that we can dedicate a few threads to this and not miss them.

[2020-06-15 13:56] #1060 closed

[2020-06-15 15:00] jeromekelleher commented on #1023
Closed in #1065

[2020-06-15 15:45] jeromekelleher commented on #1062
Any update on this @petrelharp?

[2020-06-15 15:47] petrelharp commented on #1062
No, sorry, I haven't gotten back to it yet. Will try for it today.

[2020-06-15 15:47] jeromekelleher commented on #1058
FYI: populations are now officially cheap, as of #1069. We should use as many as makes the job of modelling the demography as easy as possible.

[2020-06-15 15:50] jeromekelleher opened #1072 "parse_species_tree should create new populations for internal nodes"
Since #1069, empty inactive populations cost nothing, so we should not use them sparingly. As such, it makes no sense to reuse population IDs for the internal nodes in the species trees that we read in. If these internal nodes have names, we can use them. Otherwise, I guess we call them ``ancestors_species_1``, etc.

[2020-06-15 15:51] jeromekelleher opened #1073 "Population.name should enforce that it's a valid Python identifier"
In ``Demography.sample`` we allow the user to generate samples based on the population name via the kwargs. For this to be guaranteed to work, we need to make sure that the ``name`` is always a valid Python identifier. This should be easy enough to enforce.

[2020-06-15 18:46] apragsdale commented on #1058
Another thought about how to specify population growth/decay, in favor of specifying start size and end size over an epoch instead of initial size and growth rate: In discrete forward simulators, a growth rate of `r` means that `N[t+1] = N[t] * (1+r)`, so `N[t+g] = N[t] * (1+r) ** g`, if `g` is the number of generations later. In a continuous model, like msprime, the size at generation `t+g` would

[2020-06-16 00:13] petrelharp commented on #1062
Yep - in a virtualenv everything is OK. I must have a wierd module somewhere; if I figure out what the problem was I'll report back, but will close this in the meantime.

[2020-06-16 00:13] #1062 closed

[2020-06-16 07:09] jeromekelleher commented on #1062
I bet it's from ``setup.py install``ing. Probably best to clear out your installed msprime modules manually, as pip uninstall doesn't work when you have mixed installation methods.

[2020-06-16 07:16] grahamgower commented on #1062
If you've `pip install`'d the stable version and also run `setup.py develop`, then both versions can be removed by running `pip uninstall` twice in succession.

[2020-06-16 07:47] jeromekelleher opened #1074 "Parallel execution for verification tests and better logging"
We want to be able to run verification tests in parallel, and also to improve the output.

- Add a ``--num-threads``, ``-t`` option to the cli, and pass this value to ``runner.run``.
- In runner.run, using concurrent.futures to run the tests in parallel
- We want to get an indication of how quickly the tests are running, so add a tqdm progress monitor that gets updated each time a test completes.

[2020-06-16 07:49] jeromekelleher commented on #1074
Oh yeah, let's use ``daiquiri`` for the logging setup like we do in the lined example in tsinfer above. It gives nice coloured output for the logs.

[2020-06-16 08:47] GertjanBisschop commented on #1019
Closed by #1032 .

[2020-06-16 08:49] GertjanBisschop commented on #1020
Closed in #1032 .

[2020-06-16 08:49] GertjanBisschop commented on #1022
Closed in #1032 .

[2020-06-16 09:47] winni2k commented on #671
Mark me down as "stdpopsim doesn't do what I need it to do and therefore msp works nicely". Not sure if that means we should still kill it and force me to contribute my weird models to stdpopsim...

[2020-06-16 09:50] #1022 closed

[2020-06-16 09:50] #1020 closed

[2020-06-16 09:50] #1019 closed

[2020-06-16 09:55] jeromekelleher commented on #1058
Good points @apragsdale.

[2020-06-16 10:02] winni2k opened #1075 "Feature request: add_mutations command for msp"
I would like to throw down N mutations randomly on a tree sequence. Is there a way I can currently do that with the tskit or msp CLI?

[2020-06-16 10:13] jeromekelleher commented on #1075
Why exactly N? Lots of people ask for this, but most of the time it's a much better idea to simulate with a given rate, and then randomly subset down to N sites (if you really do need exactly N)

[2020-06-16 10:14] jeromekelleher commented on #1075
But we can definitely add a ``msp mutate`` CLI that's an interface to the [mutate function](https://msprime.readthedocs.io/en/latest/api.html#msprime.mutate). The documentation for this is a bit out of date at the moment - we have all sorts of nice things for mutations in the pipeline.

[2020-06-16 11:18] winni2k commented on #1075
Right, downsample. That would work for me.

I can work on a PR for this if there isn't anybody to do it right now.

[2020-06-16 11:22] winni2k commented on #1075
I think the reason the exactly N question sprang into my head first is because I am trying to remain comparable with another analysis where the mutation rate was not reported, but the number of mutations was, as far as I can tell.

[2020-06-16 12:20] jeromekelleher commented on #1075
That would be amazing, thanks Winni! FYI, this would get you on the [author list](https://github.com/tskit-dev/msprime-1.0-paper/issues/2) for the forthcoming 1.0 paper...

[2020-06-16 12:24] winni2k commented on #1075
Well, that certainly is quite some motivation. I'll see if I can budget some time over the next week then.

[2020-06-16 14:43] #1075 closed

[2020-06-16 14:46] jeromekelleher opened #1077 "Add model argument to msp mutate CLI"
We added a CLI for mutate in #1076. This doesn't have any way to specify the model. Once #1070 is done as we have a way to create non-parametric models from strings like "HKY", etc, we can add a model argument here.

We should also think about whether we want to support the more complex parametric models (probably not?)

[2020-06-16 14:54] jeromekelleher commented on #1077
@winni2k, can we sign you up for this?

[2020-06-16 15:00] winni2k commented on #1077
Hehe, sure ;)

[2020-06-16 15:23] petrelharp commented on #1062
Hah - the problem was from having a development version of tskit, instead of 0.2.3. Sorry about the noise.

[2020-06-16 23:23] apragsdale commented on #1058
Playing around with some options for how to specify demographies (with four examples, taken from stdpopsim, below). A few thoughts:
- I think it is a bit nicer and more concise to wrap multiple epochs into one population (for example, see the Tennessen and Zigzag models), instead of separating those epochs into their own population. If we have `epochs` within populations, we can also define `epoch

[2020-06-17 06:13] grahamgower commented on #1058
Thanks Aaron, that's really useful. I like the idea of having migration epochs too.

Having a `start_time` and an `end_time` for each population/epoch makes things explicit, which I like. On the other hand, it also means there's lots of duplication. Perhaps we should be able to refer to attributes defined for other populations? In your last example, how about something like this:
[code]
There's lo

[2020-06-17 07:18] jeromekelleher commented on #1058
This is really nice, thanks @apragsdale. It's great to have concrete examples.

Re start and end times, it seems reasonable that the ``end_time`` for a child population is equal to the ``start_time`` of the parent population (otherwise it's unclear what the parent population relationship means). So we shouldn't put those numbers in twice.

Similarly, for the epochs, we should write down just one n

[2020-06-17 10:12] benjeffery commented on #1046
I have a few crashing seeds - but all of the type `lib/msprime.c:743: msp_insert_individual: Assertion `node != NULL' failed.`

[2020-06-17 14:02] apragsdale commented on #1058
I like that idea!

There is quite a bit of duplication of epoch interval times and sizes at those interval break points. We may be able to get away with implying that if an initial size of a new epoch isn't set, that it's equal to the final size of the previous epoch, although we want to keep the flexibility of allowing both to be explicitly provided to handle instantaneous size changes.

Yeah, I'

[2020-06-17 14:30] benjeffery commented on #1046
Here are the seeds with the time they fail:
107005 41m
106022 68m
104001 41m
102024 62m
101001 63m

[2020-06-17 15:33] apragsdale commented on #1058
Zig Zag option 3, reducing duplication of entered values. If an epoch's initial size is not given, it is assumed to be equal to the final size of the previous epoch.
[code]

Or the same Browning model (populations) with Graham's suggestion:
[code]
In this case, we could maybe even drop the `end_time = OOA.start_time`, and say that if no end time is given, it's either infinite if it doesn't have an

[2020-06-17 16:48] jeromekelleher commented on #1058
This is looking very neat @apragsdale. Something I'm still not clear about though: what does it mean to be an ancestor of a population? Since the population and its ancestors can now coexist, I'm not sure I see much value in the concept. Really this is just modelling some sort of migration relationship, so perhaps it'd be better to be explicit about that?

The "parent" population made sense to me

[2020-06-17 18:56] apragsdale commented on #1058
I guess `source` would be a better term. A source could be a direct ancestor, in which case they don't overlap, or perhaps a population that provides migrants to a new population (more of a "PopulationPeel" instead of a "PopulationSplit" scenario, for a fun banana theme).

I want to avoid having to split the source populations into pre- and post-admixture event in the Browning model. I think chang

[2020-06-17 19:00] molpopgen commented on #1058
I quite like the zig-zag v3 with epochs.  It seems more natural than assigning new population labels.  For my part, I'd like to be able to map a population name to an integer (deme index) and rely on that being constant.

[2020-06-18 10:02] jeromekelleher commented on #1056
closed in #1068

[2020-06-18 10:02] #1056 closed

[2020-06-18 17:49] grahamgower commented on #1058
Here a python version that incorporates lots of ideas from this thread. https://gist.github.com/grahamgower/879f2a5790f8987284c47a1061fcf765

[2020-06-18 18:22] molpopgen commented on #1058
[code]

Here's what the last version of zig-zag looks like once we get it into Python.  We're pretty close to something workable, but it is still very "object-y", meaning that a good bit of logic is still required to parse through everything.  Simplifying this further may be where a formalized yaml spec comes in?

[2020-06-18 18:25] molpopgen commented on #1058
@grahamgower's gist is pretty slick, too.  That, or something like it, would make a natural "intermediate representation" between the YAML and the "real" msprime objects.  It could also be the base of a user-facing `ModelBuilder` in msprime.  (And in fwdpy11, too, for that matter.)

[2020-06-18 19:05] grahamgower commented on #1058
Thanks @molpopgen, that's absolutely the direction I want this to go. One of my objectives here was to explore how the implicit semantics we've discussed could be imported into attrs data classes. It certainly wouldn't be much work to make a `strictyaml` schema for loading into this, and I'm hoping it will translate easily to a variety of other demography descriptions (including an `msprime.Demogr

[2020-06-18 19:24] molpopgen commented on #1058
To minimize the bike-shedding, it seems like a finite vocabulary would help, to minimize the scope of the spec.  Chatting w/@apragsdale offline, we also need epoch-variable things like `selfing` and `cloning` rates for forward sims, and a way to handle floating-point values.

But once a v1.0 of the vocab is in place, we could probably work out the details of a spec in a fresh repo somewhere to pra

[2020-06-18 19:31] molpopgen commented on #1058
@grahamgower -- this is a fun thing to add to `attr` classes: https://github.com/molpopgen/fwdpy11/blob/a8b439885644ffeb48ae947ccb081eea01bee58b/fwdpy11/class_decorators.py#L120-L138
I came up with this a few weeks ago so that examples in the manual print out nicely.  It'll make big models more readable.

[2020-06-19 05:09] grahamgower commented on #1058
The black pretty-printing is very cool. But it looks like black just renamed `s/FileMode/Mode/` since the latest release, so I get the sense the API is not stable.

[2020-06-19 08:12] jeromekelleher commented on #1058
I think it's becoming clear that it *doesn't* belong here, and there's enough interest and progress now to start thinking about shipping it out to its own repo.

First question is, where should it live? I think it would be good if it lived in the ``tskit-dev`` GitHub Org, but we could certainly argue for somewhere else.

Second question is, what is it called? My initial thought is ``demography``,

[2020-06-19 09:18] grahamgower commented on #1058
A tskit-dev project seems appropriate. How about `demes`, or `demescription`?

[2020-06-19 09:23] jeromekelleher commented on #1046
Just to update that I'm working on this, and it's a doozy. Something very subtle and tricky numerical issues with recombination going on here. I'm mainly just very happy this surfaced now rather than after release though, so thanks @TPPSellinger!

[2020-06-19 09:39] grahamgower commented on #1058
Actually, `deme` seems to be available on pypi. Then we could call our yaml (or whatever) a "deme script", and the in-memory version a deme scription.

[2020-06-19 09:43] TPPSellinger commented on #1046
I hope it's solvable. I will keep you inform if I find any other issues.

[2020-06-19 14:17] molpopgen commented on #1058
black claims to be in perpetual beta, so not surprising.  That name change can be handled by a try/except.  I'll add that soon, along with tests.

[2020-06-19 14:42] jeromekelleher commented on #1058
It's snappy. The only reservation I have is "deme" doesn't convey a sense of historical populations or demographic structure. Nothing is perfect though. Googling for "python deme" gives no real results, which is good.

[2020-06-19 14:51] molpopgen commented on #1058
`demeography` would be slick and maximally confusing. 🤔

[2020-06-19 15:07] apragsdale commented on #1058
I didn't pick `demography` as a name for my package with any forethought about this.. it was just the name of my local directory when I turned it into a repo. So if that's a name we want for it, I can stop domain squatting that package name (it's not on pypi or anything like that, so I'm not sure how much it would clash). Otherwise something short would be nice, like `demes` or `deme`

Graham - th

[2020-06-19 15:28] grahamgower commented on #1058
I like short names too. But yes, I agree that `deme`, singular, is not quite getting to the heart of what this is about. Also, `deme` is nice to keep available as a variable name. Maybe the plural `demes` is close enough though?

Other possibilities: `demenet`, `demeanc`, `demented`.

[2020-06-19 15:49] jeromekelleher commented on #1058
I like ``demes`` actually... Snappy and descriptive, once we're concrete about what a deme is.

[2020-06-29 08:35] #1021 closed

[2020-06-30 07:28] TPPSellinger commented on #1061
Sorry for the late answer. I could build simple tests to check for population size variation in multiple merger. Did @JereKoskela  or @eldonb already start working on this issue ?

 PS:  I might not be very efficient in the next few weeks as I have to submit my thesis by end of summer.

[2020-06-30 08:16] jeromekelleher commented on #1061
I don't think anyone is working on this @TPPSellinger, we'd be very grateful for any help.

[2020-06-30 09:08] JereKoskela commented on #1061
I haven't made any progress on implementation thus far, but did realise that we know the expected merger times for a sample of size 2, which gives us something against which to compare. My intention was to implement that at some point this week.

How about I implement that in the next few days, and you can take over with further tests if they're needed once your thesis is handed in @TPPSellinger?

[2020-06-30 09:15] TPPSellinger commented on #1061
Okay! Let me know when you do the PR, I am curious on how to test this. When you mean sample 2, you mean 2 diploid  or 2 haploid individual ?

[2020-06-30 09:40] JereKoskela commented on #1061
2 haploids. When there are just 2 lineages and no recombination, then every coalescent is Kingman, so we can get the exact expected coalescence time as a function of demographic parameters.

[2020-07-01 11:40] saunack commented on #1074
Anything else that needs to be done?

[2020-07-01 13:18] jeromekelleher commented on #1074
Closed in #1078.

[2020-07-01 13:18] #1074 closed

[2020-07-01 13:21] saunack commented on #1026
Issues #1056 and #1074 have covered all the requirements. #1035 , #1055 , #1068 and #1078  cover the changes made.

[2020-07-01 13:33] jeromekelleher commented on #1026
Looks good, @saunack. I'm going to make a final pass through to tidy up a few things and then close it.

You've done a great job here, thanks for your help! I've added your name to the author list over in https://github.com/tskit-dev/msprime-1.0-paper/issues/2

[2020-07-01 17:14] JereKoskela commented on #985
The updates in #1059 (see also #1082) have fixed the problem I described in my post on May 3rd involving the interaction between population size, and growth, and multiple mergers. As a result, the example in the initial post above is no longer misbehaving. I suggest we close this and revisit the topic if more unexpected behaviour comes to light.

[2020-07-01 17:14] #985 closed

[2020-07-01 20:38] petrelharp opened #1084 "worry about floating point and probabilities in mutation generation"
For instance, in [`mutation_matrix_choose_root_state`](https://github.com/tskit-dev/msprime/blob/master/lib/mutgen.c#L232):
[code]
that assert might be hit if the root distribution doesn't sum to exactly 1. Since we do error checking that the probabilities make sense, why don't we instead change this to
[code]
ie, taking the last entry? (if I did that right)

[2020-07-02 07:46] jeromekelleher commented on #1084
All we want to do is make sure that we don't fall off the edge of the array, so we could do
[code]
Short circuit behaviour guarantees that the second part of the && doesn't get evaluated.

We should have this kind of paranoia in there though.

[2020-07-02 08:10] petrelharp commented on #1084
I don't think that will do it, since the loop could still end with `j` equalling `num_alleles`, and the next line is
[code]

[2020-07-02 08:22] jeromekelleher commented on #1084
Good point. We should probably just use the [GSL functions]( https://www.gnu.org/software/gsl/doc/html/randist.html#general-discrete-distributions) for doing this anyway, so that we don't have to worry about these details.

[2020-07-02 09:01] jeromekelleher opened #1085 "Script to compare performance with older versions of msprime"
We'd like to have some tooling to help spot performance regressions and tune performance. We want to make a script called ``performance.py`` that will run the same simulations on the current version of msprime and some older version(s) and plot the output. The plots should look somethink like [this one](https://github.com/tskit-dev/msprime/issues/852#issuecomment-578668968).

The way it should wor

[2020-07-02 09:41] benjeffery commented on #1085
We've thought about doing something like this to detect performance regressions continuously. e.g. https://github.com/tskit-dev/tskit/issues/511 It would be great if this is organised so the same scenarios could be reused for that.

[2020-07-03 16:19] jeromekelleher opened #1087 "Mutation model conditioned on specific ancestral sequence"
For some applications it will be useful to condition on a specific ancestral sequence. This should basically be the same as the MatrixMutationModel, except it takes as first parameter the ``ancestral_sequence``. This should be a string (or maybe a numpy array) of length equal to the sequence length of the tree sequence we call ``mutate`` on. It is an error to use this mutation model if ``discrete`

[2020-07-03 19:06] JereKoskela commented on #1061
#1082 established that the growth rate being simulated matches the expected merger time. Do we need anything else? I guess changes in growth rate are the only other related piece of functionality, but those should work identically to the Hudson case, in that the same code is used to implement the change in both multiple merger and Hudson models. So I think we should be safe.

[2020-07-03 19:11] TPPSellinger commented on #1061
Should we put a note/warning for when beta tends to 2 ? Computation time could be very high for beta value higher than 1.99.

[2020-07-03 19:19] jeromekelleher commented on #1061
I think we can close the issue @JereKoskela  - please reopen if you disagree.

[2020-07-03 19:19] #1061 closed

[2020-07-03 20:10] JereKoskela commented on #1061
Is this something you've noticed in practice @TPPSellinger? If so, could you open a separate issue with a minimal example? The way the rejection sampling is implemented means that performance shouldn't deteriorate as the Beta-coalescent parameter tends to 2, and in fact it can even speed up.

[2020-07-03 20:51] TPPSellinger commented on #1061
Computation time was high in the previous implementation when beta was tending to 2. I didn't check with the new implementation but I will check it tomorrow and let you know if anything strange happens.

[2020-07-06 08:31] TPPSellinger commented on #1061
I did a quick check. msprime is very fast even for beta value tending to 2. Only one question to @JereKoskela. I have more SNPs for smaller beta value. I am afraid for some beta value very very close to 2, there might be no observed SNPs.  Should we suggest users to use Kingman for beta value higher than 1.9999 (Although the beta coalescent does not tend to Kingman when beta tends to 2) ?

[2020-07-06 08:41] JereKoskela commented on #1061
That's a consequence of the way the Schweinsberg model scales again. As β -> 2, the timescale becomes proportional to N, as in the Kingman coalescent, but the constant of proportionality decays to zero because B(2-β, β) in the denominator diverges to infinity (for the form of the constant, see the docs here: https://msprime.readthedocs.io/en/latest/api.html#multiple-merger-coalescents). That means

[2020-07-06 10:26] jeromekelleher commented on #1061
Should we open an issue to track this @JereKoskela?

[2020-07-06 10:28] JereKoskela commented on #1061
I don't think that's necessary; it's a minor tweak to the docs. I realise discussing it in a closed, unrelated issue hasn't been ideal, but I'll open a PR to fix it this afternoon and that should settle the matter.

[2020-07-06 10:37] jeromekelleher commented on #1061
Great, thanks @JereKoskela. Opening issues is a good way to make sure we don't forget about things, but if you're following it up straight away then there's no need.

[2020-07-06 15:03] jeromekelleher opened #1089 "Problems with DtwfPedigreeVsCoalescent verification tests"
The refactoring of the verification tests in #1086 highlighted some issues in the tests for the dtwf pedigree model [here](https://github.com/tskit-dev/msprime/blob/master/verification.py#L768). Basically, the tests don't work because the file they need is missing.

@DomNelson, can you comment here please? If you have the required file, can you open a PR to add it in please? If not, any pointers o

[2020-07-06 15:07] jeromekelleher opened #1090 "Problems with XiVsHudsonTest in verification.py"
The refactoring of the verification tests in #1086 highlighted some issues in the tests for the Xi coalescent comparisons with Hudson [here](https://github.com/tskit-dev/msprime/blob/master/verification.py#L1639).

Basically it looks like there's a time scale problem here?

@JereKoskela, @TPPSellinger can one of you look into this please?

Please see the top of the verification.py file for instruc

[2020-07-06 15:11] jeromekelleher opened #1091 "Problems with XiGrowth test in verification.py"
There's some problems with XiGrowth test in verification.py as explained [here](https://github.com/tskit-dev/msprime/blob/master/verification.py#L2064).

@JereKoskela, I think you wrote this originally. Would you mind taking a look at seeing if it can be brought in line with the other tests please? Ideally, we'd like to split it up into qqplots for a handful of parameter combinations  - I think th

[2020-07-06 15:16] jeromekelleher opened #1092 "test_analytical_correlation_between_trees output difficult to interpret"
The output of the [test_analytical_correlation_between_trees](https://github.com/tskit-dev/msprime/blob/master/verification.py#L2431) verification test is difficult to interpret. I can't really tell what's being plotted and whether the results are correct.

@TPPSellinger, I think you wrote this? Would you mind having a look over it again, and see if the output can be made a bit more obvious to som

[2020-07-06 15:17] TPPSellinger commented on #1090
This could be a remnant from when recombination and mutation where scaled differently (which I think they now are scaled the same). I will go through verification.py and let you know if this is the case.

[2020-07-06 15:20] TPPSellinger commented on #1092
I don't remember writing this but I can go through it anyway and let you know what it does.

[2020-07-06 15:22] JereKoskela commented on #1090
I'd never noticed this class of tests even existed! I think I know what's going on though.

In the previous implementation (back when there was a `reference_size`) we were simulating recombination in coalescent units and mutation in generations, and had to multiply one of the rates by `N` to account for the discrepancy. That discrepancy is gone, but it was corrected in a way that makes both trees

[2020-07-06 15:28] JereKoskela commented on #1091
Happy to take a look. I'm sure I can shrink the number of parameter combinations significantly if I spend a little time picking out ones that give good coverage, and also tidy up the code while I'm at it.

[2020-07-06 15:33] TPPSellinger commented on #1090
I think you are right. I will modify the verification.py, check this and let you know before tonight.

[2020-07-06 15:34] jeromekelleher opened #1093 "Problems with DemographyDebugger verification tests"
There are two problems with the current DemographyDebugger [verification test](https://github.com/tskit-dev/msprime/blob/ef19606e2d62dd5c6601a46d584f0c3d74475b96/verification.py#L2700):

1. We're emitting a bunch of warnings. Is this because we the parameters we're putting in are bad, or we're doing division by zero in our calculations somewhere? If so, should we be catching these somewhere else?

[2020-07-06 15:37] jeromekelleher commented on #1092
Thanks @TPPSellinger, that would be really helpful! Ah, I see there's some gc stuff in there - maybe it was @fbaumdicker ?

(I should be able to use git blame, I know, but this has gone through a mega refactor and I can't be bothered doing the git archaeology.)

[2020-07-06 15:39] jeromekelleher commented on #1090
Great, thanks @TPPSellinger  - no hurry at all here.

[2020-07-06 15:44] apragsdale commented on #1093
This doesn't look familiar to me - pretty sure I didn't write them. But looks like the banding is because there are 8 replicates and each replicate will have a single mean calculated coalescent time? Hard to tell if it looks not that close just by chance because of running few replicates.

[2020-07-06 15:49] jeromekelleher commented on #1093
Thanks @apragsdale. Hmm, @petrelharp, do you have any idea who wrote these? Maybe I should just do the git archeology..

[2020-07-06 16:04] petrelharp commented on #1093
I haven't written anything in verification.py. It might have been Jared Galloway, who implemented the mean coaltime method, but I'm not tagging him since he's working on other things.

[2020-07-06 16:15] petrelharp commented on #1093
I'm taking a look.

[2020-07-06 17:28] TPPSellinger commented on #1090
Yes I might need until tomorrow.

[2020-07-06 17:30] jeromekelleher commented on #1090
or next week is fine, seriously, there's no hurry!

[2020-07-06 22:14] fbaumdicker commented on #1092
Yes, this is a part I have added. It plots the probability that two trees have the same MRCA (y-axis) along the chromosome (x-axis). The dashed line is the expected fraction of trees with equal MRCA, according to the formula from the Wiuf and Hein paper. The solid line is the simulated fraction of equal trees. The trees are compared to the tree at the first, last, and middle position, for three se

[2020-07-07 07:05] TPPSellinger commented on #1090
Okay, I think I know what the error is here. Like @JereKoskela  said, we should  compare  Hudson (Ne=N) and Xi_dirac (Ne=N²). However, this doesn't seem to solve the problem. I still have a factor 4 issue. Could it be that the branches of the  dirac are 4 times to small (since everything seems happenning 4 times less) ?

[2020-07-07 08:03] jeromekelleher commented on #1092
Thanks @fbaumdicker - would you mind updating it a little to add some axis labels and so on? Only if you have time - I understand you've got a lot on your plate.

[2020-07-07 08:42] JereKoskela commented on #1090
You're right @TPPSellinger! `msp_get_common_ancestor_waiting_time_from_rate` has an extra factor of 4 compared to `msp_dirac_get_common_ancestor_waiting_time_from_rate`. So the right comparison should be a Dirac-coalescent with population size N and a Kingman coalescent with population size N^2 / 4.

[2020-07-07 08:53] fbaumdicker commented on #1092
I will try to have a look at it this week. When I update the figures I will notify you here again.

[2020-07-07 14:01] troycomi opened #1095 "Add demographic event for recombination maps"
We are interested in simulating the effect of differing recombination on some population genetics methods.  It would be useful to extend the demographic model to include a 'change recombination rate' class which would apply a new recombination map/rate at a given time.  Ideally, this could be population-specific or apply to all populations, but I understand the former is more complicated.

- [ ] s

[2020-07-07 14:55] jeromekelleher commented on #1095
I think changing the map through time is reasonably do-able, but we'll need to wait until #1079 is resolved before being in a position to look at it.

There's a lot of stuff that needs to be finished up for 1.0 though, so I'm not sure whether we could get it done before this (unless you're in a position to help out?).

[2020-07-08 08:50] TPPSellinger commented on #1090
Okay, I fixed it. It took me some time to understand that even if the scaling error is 4, the Ne should be scaled by 2.   Here is the corrected tests.
[code]

[2020-07-08 12:30] jeromekelleher commented on #1090
Would you mind making a PR please @TPPSellinger? You might as well get git-credit for fixing the problem!

[2020-07-08 13:16] TPPSellinger commented on #1090
Sure! But it will have to wait tomorrow morning if it's okay (btw what is git credit?). May be before I do the PR I will go through all test linked to Multiple Merger and check everything is fine (or you already did that ?).

PS: I really like the new verification.py workflow

[2020-07-08 13:30] JereKoskela commented on #1090
Thanks, that's a good idea if you have the time and energy! I suggest skipping the XiGrowth tests though. I'm still supposed to be fixing those as per #1091.

[2020-07-08 17:50] jeromekelleher commented on #1091
Closed in #1096

[2020-07-08 17:50] #1091 closed

[2020-07-08 18:06] jeromekelleher commented on #1090
Thanks @TPPSellinger, you're super helpful!

Git-credit is just my shorthand for making sure that your contributions are reflected in the [contributors page](https://github.com/tskit-dev/msprime/graphs/contributors).

[2020-07-09 07:17] TPPSellinger commented on #1090
All tests look fine. Some of the outputs are ".png.png" but I will fix this and then do the PR.

[2020-07-09 07:27] TPPSellinger commented on #1090
Should I solve the "FIXME" by adding the x-y label and describe  what it's doing before the  PR @JereKoskela  (or you want to do it ) ?

[2020-07-09 07:30] jeromekelleher commented on #1090
I think the XiGrowth tests have been fixed up now @TPPSellinger. If you update your branch you should see the changes that were made in #1096

[2020-07-09 07:31] TPPSellinger commented on #1090
My bad.

[2020-07-09 07:59] TPPSellinger commented on #1090
Let me know @jeromekelleher  If I managed to do the PR correctly.

[2020-07-09 19:46] jeromekelleher opened #1099 "compiler warning on Debian"
[code]

[2020-07-10 21:29] fbaumdicker commented on #1092
I updated the figures with labels and a legend. However, by doing so I noticed that the verification results no longer look like they should look. Currently, the plot looks like:

![prob_first](https://user-images.githubusercontent.com/13665835/87204049-2e29d380-c304-11ea-851a-54d9da470ac3.png)

But it should look like this:

![prob_first](https://user-images.githubusercontent.com/13665835/8720409

[2020-07-10 23:47] apragsdale commented on #1058
Picking this back up.. @grahamgower I looked through your `demegraph` code a bit closer, and I think that's a nice start to how we can nicely define and check the validity of the demographic structure. Perhaps we're at a point now to decide on some big picture things, like where it will live (I think in its own repo makes the most sense) and what features we'd like it to be able to support. Should

[2020-07-10 23:48] molpopgen commented on #1058
A call of some sort would be useful.

[2020-07-13 08:40] jeromekelleher commented on #1058
Yes, let's have a call. I'll email the interested parties to get an initial discussion going.

[2020-07-13 08:44] jeromekelleher commented on #1092
Aha, no wonder I couldn't read the output! Resolving the internal scaling issues was a long drawn out saga @fbaumdicker; basically, it turns out that I had massively complicated things for the sake of multiplying and then dividing times by the same number. The old "reference size" concept actually did nothing.

However, it shouldn't have affected these results. I think the best thing to do is to s

[2020-07-20 09:08] jeromekelleher commented on #1058
We've decided to move this into its own repo: https://github.com/grahamgower/demes

For the record, we'd like msprime to be able to consume a demography described in a way like this, but we've decided that it's out of scope for msprime to define the language and semantics of the descriptions themselves.

[2020-07-20 09:08] #1058 closed

[2020-07-20 16:24] bhaller commented on #762
Hi @jeromekelleher.  Regarding the answer above, I see the last commit to tsconvert was 17 months ago; is it still considered an active project or has it been abandoned?  I just got another SLiM user today who wants to get MS output from a tree sequence; this comes up with some regularity.  This would really not be hard to add to the Python APIs, would it?  It's a very simple format; it'd be nice

[2020-07-20 16:37] jeromekelleher commented on #762
Yeah, this is a pretty simple thing to do and we should just do it in tskit. I guess we can just thrown an error if we hit a situation where ms-format doesn't make sense.

We haven't abandoned tsconvert, as such, just nobody has done any work on it! ;)

[2020-07-22 05:28] andrewkern commented on #942
finally going back through this... great catch here. this is just a bug in my implementation. everything should be scaled by `sweep_dt` and so the `p_*` variables should be used in the rejection sampling. i can fix this as a patch, or include it in my next PR

[2020-07-22 07:36] jeromekelleher commented on #942
Great - hopefully the scaling stuff is simpler now @andrewkern, as we no longer have the idea of "model time". (I can bring you up to speed on this if you missed the changes)

[2020-07-22 13:12] andrewkern commented on #942
yeah got some time for me today? a bunch of sweep stuff broke through these changes... trying to piece it together still

[2020-07-22 13:40] jeromekelleher commented on #942
Sure. I've sent you an email.

[2020-07-24 14:51] jeromekelleher commented on #942
closed in #1101

[2020-07-24 14:51] #942 closed

[2020-07-24 17:27] jeromekelleher opened #1103 "Add MsmsSweeps test to verification.py"
As an additional check on our sweeps code, we'd like to verify against msms. Initially we'll use this to check our genic sweeps code. This will follow the same general approach as the current DiscoalSweeps class.

To make this work we need to add ``msms`` to the [Makefile](https://github.com/tskit-dev/msprime/blob/master/data/Makefile) in the ``data`` directory. This should download and msms.

Onc

[2020-07-24 17:28] jeromekelleher commented on #910
@andrewkern, was this fixed in your last PR?

[2020-07-24 17:29] #1026 closed

[2020-07-24 17:29] #1023 closed

[2020-07-24 17:30] andrewkern commented on #910
yup we can close this out

[2020-07-24 17:45] jeromekelleher commented on #910
Closed in #1101

[2020-07-24 17:45] #910 closed

[2020-07-24 18:37] jeromekelleher commented on #1103
cc @gbinux

[2020-07-25 03:51] nspope opened #1105 "Something odd with migration to pop 0 in DTWF"
Hi, thank you for developing this wonderful tool.

When simulating from the DTWF model with island-with-migration population structure (where migration rate varies; e.g. with distance) and very low effective population sizes per deme, I notice something like an artefact in simulated tree topology with regards to tip order.

For example, (A) I generate a random migration matrix by simulating points

[2020-07-26 04:01] gbinux commented on #1103
There are two modes of selection in `msms`: `-SI` goes backward allowing us to set end
frequency at specified ending time; `-SF` goes forward allowing us to set start frequency at
specified starting time.

Take -SI for example. The relevant options are `-SI start_time 1 start_freq` `-SAA
sAA` `-SaA saA` `-Sp sel_pos`. When converting them to msprime options, I found some of them
might not have the

[2020-07-26 04:03] andrewkern commented on #1103
right now we just have genic selection implemented so h=0.5

yes we have implemented the time when it ends (looking forwards in time). there are a few examples of that in `test_models.py`

[2020-07-26 04:13] gbinux commented on #1103
Got it. Time parameter is not within the model class. Thanks a lot! @andrewkern

[2020-07-26 18:34] gbinux commented on #1103
There seems to be some inconsitency between the `hudson` model and the `SweepGenicSelection` model in terms of the scale factor of mutation and recombination rates. When `hudson` model is specified in `msprime.simulate` method, mutation rate and recombination need to be provided as raw numbers (per generation per base); while with `SweepGenicSelection` model, mutation rate and recombination rate s

[2020-07-27 06:53] TPPSellinger commented on #1046
Hi, I was wondering if this issue had been solved since I got another error but the name is slightly different (c:743 becomes c:751)  :
[code]
 My version (which might not be the most recent one) was 0.7.5.dev308+ngcfc263e9.

[2020-07-27 14:00] fbaumdicker commented on #1092
I had to divide the gene conversion rate used in the simulation for the verification by 4. In addition, I added axis labels and a legend to the plots. The current implementation uses 1.000 reps, which suffices to see major deviations (like above) and is quite fast. If we use 100.000 reps the fits get almost perfect but the running time is correspondingly higher. I think 1.000 reps should be fine f

[2020-07-27 23:07] andrewkern commented on #1103
so yes there is an issue with scaling between the models, but it's with respect to time rather than mutation and recombination rates. if you look in the msprime model, there is currently a factor of 4N being used

https://github.com/tskit-dev/msprime/blob/dab983c4bebb188d10ce6ff2b2f07b0636d25fc0/lib/msprime.c#L3639-L3645

the sweep implementation I have ported from discoal originally used a 2N tim

[2020-07-28 04:08] gbinux commented on #1103
Looks good with `msms 5 300 -t 200 -r 200 500000 -N 10000 -SaA 5000 -SAA 10000 -N 10000` simulation if use 2N scale for `SweepGenicSelection` model.
1. neutral (D.png)
![D](https://user-images.githubusercontent.com/13037898/88617752-6b60c600-d065-11ea-9a83-45cd5004d079.png)
2. selective(D.png)
![D](https://user-images.githubusercontent.com/13037898/88617793-829fb380-d065-11ea-963b-ab7ae58e179a.png

[2020-07-28 04:31] andrewkern commented on #1103
huh... what do you mean by "use 2N scale"?

[2020-07-28 04:42] gbinux commented on #1103
I meant if `SweepGenicSelection` model is used in `msprime.simulate`() method,  then use:

        recombination_rate=2*refsize*mu
        mutation_rate=2*refsize*r

where `mu` and `r` are rates per bp per generation.

But when `hudson` model is specified in msprime.simulate(), then use

        recombination_rate=r
        mutation_rate=mu

[2020-07-28 04:57] petrelharp commented on #1105
Thanks for the report, @nspope - I can confirm that this happens only with dtwf, not with the standard coalescent, which sure seems like a dtwf-specific bug.  (The problem shows up with many fewer reps; I've edited your report so the code runs faster.)

[2020-07-28 05:14] gbinux commented on #1103
oops, made a mistake...

[2020-07-28 05:23] petrelharp commented on #1105
Here's a more minimal version of your (very nice) example, that also shows something else very strange:
[code]
This produces:
[code]
Two things are odd: (a)  the migration matrix is symmetric, so the numbers should all be roughly the same, and (b) they should not blow up as the migration rate approaches 1.0. (and increasing the rate to 0.9999 makes this take quite a long time).

I think this is de

[2020-07-28 08:41] TPPSellinger commented on #1090
Should we close this issue @jeromekelleher ?

[2020-07-28 12:18] JereKoskela commented on #1090
I think it's safe to close this now.

Closed in #1098.

[2020-07-28 12:18] #1090 closed

[2020-07-28 12:56] TPPSellinger commented on #789
Is this issue still open ?  @hannesbecher is my modified version of scrm (https://github.com/TPPSellinger/escrm) good enough  for you  (based on the paper of Nordborg and Möhle) ?  You can define different population with different selfing rate, however,  selfing rate is constant in time and  selfing has always been there. In addition migration is assumed to be independent from selfing, which migh

[2020-07-28 13:50] hannesbecher commented on #789
Sounds interesting, thank you @TPPSellinger !
I was hoping this would be implemented in msprime, though!

[2020-07-28 14:07] TPPSellinger commented on #789
Using the formulas in :  https://doi.org/10.1371/journal.pgen.1008698  which are based on the Nordborg paper you could theoretically tune the input parameter of msprime to simulate selfing. I mean, in the Nordborg paper, selfing simply rescales the coalescence and recombination rate. However this would be true, as in Island model of Nordborg, only if selfing is constant,  has always been there and

[2020-07-28 16:22] andrewkern opened #1107 "let's talk about time scaling!"
raising this issue because i'm trying to get the time scaling from the spiffy new sweep implementation to match the internal time scaling in msprime, and well, it's a bit tricky. I see that @fbaumdicker also ran in to this on #1106, so figured why not hash it out in a dedicated issue.

i guess the big question is this bit here:

https://github.com/tskit-dev/msprime/blob/dab983c4bebb188d10ce6ff2b2f

[2020-07-28 17:15] petrelharp commented on #1105
Looking at [the code](https://github.com/tskit-dev/msprime/blob/63a4b4fa34c1affa39d1844acb543caa9f318c2d/lib/msprime.c#L4309), I don't see anything obviously wrong, but changing the loop [here](https://github.com/tskit-dev/msprime/blob/63a4b4fa34c1affa39d1844acb543caa9f318c2d/lib/msprime.c#L4311) to go in the opposite direction produces a segfault, which seems suspicious.

[2020-07-28 19:39] fbaumdicker commented on #1107
Yes, I had to rescale the gene conversion rates to match the theoretical results. However, I did not notice that this is a temporary change! In that case, if this changes back, we will have to adapt the rates back again and I guess the same would be true for a bunch of other cases. It also means that the results of people using msprime could depend on the version used.

[2020-07-28 21:03] gbinux commented on #1103
`Ne=0.25` ( instead of `Ne=refsize`) seems critical for **msprime** to generate stats comparable to those from **msms** but I am not sure why we need to use` Ne=0.25` but not `Ne=refsize` @andrewkern

https://github.com/tskit-dev/msprime/blob/66972a7d213a0625d5dc3cdb0f370726dc924755/verification.py#L746

[2020-07-29 00:26] andrewkern commented on #1103
Yes setting Ne=0.25 allows the results to match canonical coalescent scaling. You'll see the same thing with the ms verification (via mspms cli).

[2020-07-29 00:30] molpopgen commented on #1103
Does that mean the mutation/recombination rates are 4Nu and 4Nr for the sweep models?  If so, would it be better to change them to match the standard msprime models?

[2020-07-29 00:38] andrewkern commented on #1103
Well not really cause the time scaling for sweeps is still screwed.... @molpopgen got a chance to chat with me about this tomorrow? I could use talking it over with someone.

Basic issue is that sweeps are happening in 2N time scaling, but want it to match the 4N currently being used by msprime and I'm running into weirdness

[2020-07-29 00:43] molpopgen commented on #1103
Yeah I could probably find some time to chat tomorrow. Send me a message on slack and we'll figure it out.

[2020-07-29 00:54] molpopgen commented on #1103
My days are tending to start a little later in the morning, just FYI

[2020-07-29 03:00] gbinux commented on #1103
# 1
My new `MsmsSweeps` test class started to work "normally" with when setting `recombination_rate=rho/(num_sites-1)`,  `mutation_rate=theta/num_sites` and `Ne=0.25` for the sweep model.

With relative smaller small sizes, the stats between msms and msprime simulations were similar in both hudson and geneic selection models. I like this! @andrewkern

![msms_msprime](https://user-images.githubuser

[2020-07-29 04:44] andrewkern commented on #1103
I think the best thing to do is wait for #1104 to be merged once i get the scaling, and then you should start a PR. this code is still a work in progress.

btw can you post the sweep comparison figure a bit larger? curious to see what you are getting out

[2020-07-29 14:34] gbinux commented on #1103
I just uploaded larger pictures and updated the original post above. @andrewkern

Agreed. I will wait for #1104 to be merged then. Look forward to your updates. :+1:

[2020-08-03 09:50] jeromekelleher commented on #1046
I'm still working on this @TPPSellinger - see #1079 for progress. Hopefully I'll get some time to finish it out this week :crossed_fingers:

[2020-08-03 09:52] #1092 closed

[2020-08-03 09:57] jeromekelleher commented on #1107
I had hoped to make the code a bit more understandable by taking a factor of two out of here, and making the coalescence rate n choose 2, rather than n(n - 1) as it is now.

@JereKoskela - you understand this much better than me. Is there a way we can make the rate calcs less confusing, or is what we have now about as good as it gets (and we just need to change the comments)?

[2020-08-03 10:00] jeromekelleher commented on #1105
@ivan-krukov, have you any idea what might be happening here?

[2020-08-03 10:10] jeromekelleher commented on #1103
This looks like great progress @gbinux! I think we should merge #1104 ASAP (without trying to fix the underlying problems) and get a PR opened with the msms tests. The more tests we have the more information we'll have when trying to pin down what the underlying issues are.

[2020-08-03 11:11] JereKoskela commented on #1107
I assume we still want the population size to be `4N` haploids, right @jeromekelleher? If so, then the unscaled Wright-Fisher per-generation coalescence probability is be `1/(4N)` per pair, or `(n choose 2)/(4N)` in total when there are `n` lineages. Likewise, the recombination rate is just `r` per link per generation. Currently, the numbers used in the code are `n*(n-1)/(4N)` and `r`, and I'm not

[2020-08-03 12:52] jeromekelleher commented on #1107
Thanks @JereKoskela - what I'm hoping to do is make it all a bit more obvious what's going on. Very much open to ideas on how we can do this!

[2020-08-03 12:53] jeromekelleher commented on #1107
But yes, 4N haploids is the basic assumption I think.

[2020-08-03 15:05] andrewkern commented on #1107
4N haploids? Don't we want either 2N haploids or N diploids?

[2020-08-03 15:12] jeromekelleher commented on #1107
:exploding_head: yes, surely it's 2N haploids.

[2020-08-03 15:20] andrewkern commented on #1107
btw both Hudson (1983) and Tajima (1983) use 2N haploids as the scaling so it would be fair to stick with that

[2020-08-03 15:26] jeromekelleher commented on #1107
Well, we have to stick with whatever it is that msprime does now, there's no way we can change the default behaviour. The question is documenting clearly what this is so that developers can understand it. I would also like to make the ploidy an option, like I said in #557. Sorting this mess out internally so we understand what's going on would be the ideal first step.

But, like I say, @JereKoskel

[2020-08-03 15:41] JereKoskela commented on #1107
Ok, 2N haploids is the easiest picture in my opinion, since it matches nicely with the current behaviour.

I suggest we fix the convention
[code]
use the common ancestor event rate
[code]
and then have `msp_get_common_ancestor_waiting_time_from_rate()` scale the merger time using population size `2 * pop->initial_size` instead of the current `4 * pop->initial_size. That matches the current impleme

[2020-08-03 15:55] andrewkern commented on #1107
I like this suggestion!

[2020-08-03 16:57] jeromekelleher commented on #1107
Yes, this sounds great, that would be amazing @JereKoskela!

[2020-08-06 08:09] jeromekelleher commented on #1107
See #1052 for original issue flagging the problems.

[2020-08-06 15:31] jeromekelleher opened #1111 "Assertion bug in sweeps"
The test ``test_Selective_msms_vs_msp`` added in #1109 results in an assertion being thrown:
[code]

[2020-08-06 18:23] jeromekelleher opened #1112 "Updates for tskit 0.3.0"
A few things have broken in the tests with the recent update from tskit 0.3.0 beta. These should be fixed before we push out the tskit release to avoid confusion.

This probably entails upgrading the C API to tskit 0.99.4, though, to make sure that all the low-level updates come through.

[2020-08-06 19:56] jeromekelleher commented on #1052
Closed in #1110.

[2020-08-06 19:56] #1052 closed

[2020-08-07 07:46] #1046 closed

[2020-08-07 07:46] #1099 closed

[2020-08-07 07:47] jeromekelleher commented on #1046
This should be fixed now @TPPSellinger - would you mind trying out your big simulations please?

[2020-08-07 20:31] andrewkern commented on #1111
this is curious. any insights here @jeromekelleher?

[2020-08-10 06:05] TPPSellinger commented on #1046
Nice ! I will launch some analysis and let you know if anything happens (might take a while).

[2020-08-10 07:44] jeromekelleher commented on #1111
Nope, no idea. I didn't spend any time on it, though. How about we get your new tests merged and I'll take a look then?

[2020-08-10 08:19] jeromekelleher opened #1116 "Change to discrete coordinates by default?"
Currently the discrete parameter defaults to False, which is done for compatibility reasons. However, this is probably the wrong choice for most of the models that people might specify, and will probably lead to bugs in people's code. There's really no point in specifying a JukesCantor model without specifying  ``discrete=True`` at the same time.

Perhaps this would be confusing/hard to document t

[2020-08-10 08:29] jeromekelleher commented on #1116
Of course, we could argue that ``msprime.simulate`` should default to ``discrete_coordinates=True`` also (#1115). Let's see, what would break? Not a whole lot, actually, except simulations where L=1 and recombination rate != 0. This is an obvious case here discrete is wrong. A more subtle case is when L is small and recombination rate is large - the difference between the discrete and continuous c

[2020-08-10 08:37] jeromekelleher commented on #1116
The intuition here is that for a simulation like
[code]
there's basically no difference between discrete and continuous coordinates, and since most people want discrete coordinates we should use them by default.

On the other hand, if some has a simulation like
[code]
then using discrete coordinates would certainly give different answers. In this case, we would emit a warning like
[code]

[2020-08-10 09:16] jeromekelleher commented on #880
Should we change this to ``discrete_genome`` rather than ``discrete_coordinates`` @petrelharp? There's potential confusion here with spatial coordinates - who knows, some day we might have an SFLV model in here or something with individuals falling at continuous locations in space.

[2020-08-10 09:23] hyanwong commented on #880
`discrete_loci` perhaps? Or does that imply mutations at those sites?

[2020-08-10 10:41] jeromekelleher commented on #880
Yeah, that's good option too.

[2020-08-10 14:29] petrelharp commented on #880
Sounds good. I think I like `discrete_genome` more than `discrete_loci` (though at first I liked 'loci'), since a `locus` means so many different things (eg, it can mean a gene, or a 1Mb chunk of the genome if it's a QTL). `discrete_genome_coordinates` would be even more descriptive, but I don't think it needs to be so long.

[2020-08-10 14:45] petrelharp commented on #1116
Ooooo, I think this is just the right think to do (default to discrete, emit the warning). For when to warn, maybe: if length is less than 1000 and recomb rate is positive?

This means we should go through the docs and check/modify all the places that `simulate()` is used.

[2020-08-10 14:59] jeromekelleher commented on #1116
Excellent! Let's get #1115 merged so and I'll work up a proposal.

[2020-08-10 15:14] jeromekelleher commented on #880
OK, ``discrete_genome`` it is. I'll update #1115 accordingly.

[2020-08-10 15:28] #880 closed

[2020-08-11 06:11] TPPSellinger commented on #1046
Quick questions, do you think the correction affects in anyway the simulation results or it just fixed the crashing  (to know if I have to relaunch previous simulations) ?

I didn't put  them on the github but I also had the same error (before the  fix) while simulating with multiple merger coalescent models (and high number of recombination). Would this issue also be fixed ?

[2020-08-11 07:22] jeromekelleher commented on #1046
There must have been some subtle effects on the results of the simulations. I doubt it would be significant, but if I were you I'd rerun them. If you can also try out the multiple merger models with lots of recombination too, that would be great (that is almost certainly the same issue - I hope!).

[2020-08-11 07:30] TPPSellinger commented on #1046
Okay I will run everything, might take a week or two to have enough repetitions.

[2020-08-11 12:57] jeromekelleher opened #1118 "DTWF with floating point coordinates and discrete == True trips assertion"
[code]

gives
[code]

We'll probably want to disallow this corner case, but recording here just in case we don't.

[2020-08-11 19:53] nspope commented on #1105
I have an idea of what is going on here ... It is foolery on my part (of course) but also highlights the need for an internal check.

The migration matrix should be right stochastic. In my example and the modification by @petrelharp, this is not going to be the case if the average migration rates per row are high. When making my example, I was thinking about the migration rate matrix as the infint

[2020-08-12 04:28] nspope commented on #1105
... I was a bit off but it is clear that the problem is with `gsl_ran_multinomial`, so the conclusion still stands. Here is a minimal example:

[code]
and ...
[code]

[2020-08-12 05:19] petrelharp commented on #1105
Whoo! Yes! Good call, @nspope - I inserted
[code]
right after [this line](https://github.com/tskit-dev/msprime/blob/389f4862bcb4fc08089e5f8a620363844255be10/lib/msprime.c#L4393) and ran my script above, and - indeed - the assert was triggered.  So I guess we just need to catch this problem earlier.

What to do here is a little unclear, though: as you point out, the standard coalescent is a continu

[2020-08-12 05:50] nspope commented on #1105
Yeah, I definitely don't think it's intuitive to always interpret the migration rate matrix as an infinitesimal generator and convert it to transition probabilities.

I agree: just check that the input matrix is right stochastic, and update the docs accordingly. I don't think the docs are too far off. I mean, biologically the elements of the migration matrix are interpreted the same regardless of

[2020-08-12 07:05] jeromekelleher commented on #1105
Thanks so much for following up on this @nspope, this is hugely helpful! A pull request implementing a check would be yet more helpful again :wink:

[2020-08-12 08:42] jeromekelleher opened #1119 "New top-level function for 1.0"
@castedo came up with an intriguing idea for dealing with some of our most pronounced compatibility headaches: make a new top level function to use instead of ``simulate``: https://github.com/tskit-dev/msprime/pull/1117#issuecomment-672263768

The advantage is that we can then rethink a whole bunch of things that we've been constrained on because of backwards compatibility. Some thoughts:

- I thi

[2020-08-12 08:45] jeromekelleher commented on #1119
Ping @tskit-dev/all for thoughts and opinions.

[2020-08-12 08:54] jeromekelleher commented on #907
These have all been resolved.

[2020-08-12 08:54] #907 closed

[2020-08-12 08:56] jeromekelleher commented on #931
There is good API docs for this now.

[2020-08-12 08:56] #931 closed

[2020-08-12 08:57] jeromekelleher commented on #977
Waiting on #1114

[2020-08-12 08:58] jeromekelleher commented on #991
This would be a good one to clear up once tskit 0.3.0 is shipped @benjeffery, and the APIs are fresh in our heads.

[2020-08-12 09:00] jeromekelleher commented on #988
Note also the discrepancy between migration rates in the DTWF and Hudson models, #1105

[2020-08-12 09:01] jeromekelleher commented on #996
Note, this would sync well with the idea of having a new top-level API function for simulating trees, #1119

[2020-08-12 09:02] jeromekelleher commented on #1017
Depends on #1114

[2020-08-12 09:07] jeromekelleher commented on #1084
Converting this code to use the GSL methods would be a good place for someone to start out on the C code - any takers?

[2020-08-12 09:08] jeromekelleher commented on #1103
Closed in #1109.

[2020-08-12 09:08] #1103 closed

[2020-08-12 09:09] jeromekelleher commented on #1107
I'm going to close this as resolved now that we have a ploidy variable in the C code and the calculations have been clarified. Please reopen if you think we need to discuss more though.

[2020-08-12 09:09] #1107 closed

[2020-08-12 09:12] jeromekelleher commented on #1105
I should say also @nspope - this would be a significant bug fix, so would certainly qualify for authorship on the forthcoming 1.0 paper: https://github.com/tskit-dev/msprime-1.0-paper/issues/2

[2020-08-12 09:15] jeromekelleher commented on #1093
Closed in #1094

[2020-08-12 09:15] #1093 closed

[2020-08-12 09:23] jeromekelleher opened #1120 "Remove legacy commands from msp cli."
Currently we have:
[code]

I think we should remove all but ``simulate`` and ``mutate``. Everything else is covered by tskit, except the ``macs`` and ``newick`` commands. Arguably, we should port the ``macs`` code over to tskit (in a function like https://github.com/tskit-dev/tskit/issues/727).

@winni2k - any chance you could help out with this? It'll get you warmed up for #1077 :wink:

[2020-08-12 09:24] jeromekelleher commented on #671
The decision is to keep the msp CLI, but to get rid of the extra commands left-over from pre-tskit days.

See #1120 for details.

[2020-08-12 09:24] #671 closed

[2020-08-12 10:06] winni2k commented on #1120
Sounds great! Would be happy to.

[2020-08-12 10:09] benjeffery commented on #1119
In general I like the idea. Is the idea that `simulate` would then call this new function with arguments that emulated the old behaviour? Seems to be the cleanest way that removes the need for two code paths.

[2020-08-12 10:34] castedo commented on #1119
Regarding function name ideas @jeromekelleher ...

If one likes to coin words (it's so much fun!), I can suggest `arborate`. It looks like an English word, suggests a pronunciation, and most readers will intuit the meaning based on the root 'arbor', I think.

Technically, it _is_ an existing word ... in Italian: the conjugation of
https://en.wiktionary.org/wiki/arborare
which means 'to plant with

[2020-08-12 11:27] TPPSellinger commented on #1095
I'm also interested in this feature. I could participate in building the test in verification.py if necessary.

[2020-08-12 13:31] jeromekelleher commented on #1120
Great, thanks @winni2k !

[2020-08-12 13:38] jeromekelleher commented on #1119
Haha, these are *great* ideas for words to conjure up tree-making @castedo, I love it!

After thinking about it a bit, another approach we might take is to make a new version of ``mutate`` as well so that we can have a nice symmetric pair of top-level functions. Some possibilities:
- ``sim_trees`` and ``sim_mutations``
- ``sim_ancestry`` and ``sim_mutations``

I think I like the ``sim_ancestry`` a

[2020-08-12 13:42] hyanwong commented on #1119
I like `sim_ancestry` and `sim_mutations` too. However, I do think many people might like to do both in one go, as they do currently with `simulate`. Would we keep `simulate` as the recommended way of doing this, and e.g. keep it in the docs, or just leave it in for backwards-compatibility (and coin a new `sim_ancestry_plus_mutations` function)?

[2020-08-12 13:51] jeromekelleher commented on #1119
Well, I kinda like the way that it emphasises these are two distinct tasks. It's not so bad to type:
[code]
It's a fair point, though.

I guess people can always use ``simulate`` for this, if they want to. It will exist indefinitely.

[2020-08-12 13:55] hyanwong commented on #1119
Also, we presumably would like to know whether the ancestry that was simulated via `sim_ancestry` was done in continuous coordinate space, and if so, by default put the mutations in continuous space too. And likewise for discontinuous ("finite sites") space. So we need to [distinguish](https://github.com/tskit-dev/tskit/issues/146#issuecomment-527195817) somehow between a finite_recombination_posi

[2020-08-12 13:56] jeromekelleher commented on #1095
Thanks @TPPSellinger. There's still a lot of work to be done for 1.0, https://github.com/tskit-dev/msprime/milestone/9, so I'm afraid I can't make any promises about whether we'll get to implementing it.

[2020-08-12 14:00] jeromekelleher commented on #1119
I disagree with this. We shouldn't infer what we think people might want to do based on the input tree sequence for ``sim_mutations``. The default will be to have discrete genomes in both cases, and with continuous being an option. There really isn't any good use for continuous coordinates, it's arguable whether we should even offer it for the new functions.

[2020-08-12 14:04] hyanwong commented on #1119
Yes, on second thoughts, I think if the default for both is discrete, I think that would be fine. I brought it up because I thought that we had decided to make the "continuous_genome" function operate on both recombination *and* mutation, when they were in one function, so this seems like a slight change from the behaviour we had decided upon previously.

[2020-08-12 14:08] hyanwong commented on #1119
Also, I would prefer the argument to `sim_mutations` to be `mutation_rate` rather than just `rate`, which would reflect the (presumable) parameter for `sim_ancestry(recombination_rate=XXX)`. If we just use `rate` as the parameter name, then in a combined call like @jeromekelleher describes above, it would be a bit too easy to get mixed up as to which parameter applies to which function.

It also m

[2020-08-12 14:17] hyanwong commented on #1119
So would we keep backwards compatibility by leaving `simulate()` as defaulting to continuous genomic coordinates, and only have discrete as the default for the new functions? Or break backwards compatibility and allow `simulate()` with no defaults to be used as a shorthand for `sim_ancestry + sim_mutations` in discrete coords?

[2020-08-12 14:19] jeromekelleher commented on #1119
Good points, thanks @hyanwong. One thing to note - if we do decide to do this, we should roll the interface for ``simulate`` back to what it was for 0.7.4, so there's less for us to maintain going forward.

[2020-08-12 14:34] jeromekelleher commented on #851
Thinking about this a bit more, I think the only clean way to do this is to have a separate Fenwick tree tracking the GC rates (we'll want a second also for perf). So, we can get GC start positions changing along the genome, and this is the right way to parameterise things for the low-level simulations. So, the first thing we want to do here is to make a IntervalMap which allows us to specify rate

[2020-08-12 14:43] molpopgen commented on #1119
Continuous coordinates for mutations are very useful for applications using infinite alleles models.  Taking advantage of multiple mutations in the "same site", you can do things like generate very complex microsatellite mutation models.

[2020-08-12 15:24] bhaller commented on #1119
This can be done with "stacked" mutations at discrete coordinates, too, of course, as SLiM does.  No doubt there are tradeoffs and advantages/disadvantages to both approaches.  :->

[2020-08-12 15:29] nspope commented on #1105
Hi @jeromekelleher, sure, I'd be happy to put together a PR implementing checks and updating documentation!

[2020-08-12 16:05] petrelharp commented on #1119
I think it would be a shame to deprecate `simulate`, since it's the natural place for a new user sho is looking to "simulate" to start. And, by default, `simulate` does the standard coalescent with infinite-sites mutation, which is a fine thing to start playing around with. A note saying "For finer control, and to simulate more realistic genomes, use sim_ancestry and mutate (or whatever)" would su

[2020-08-12 16:32] jeromekelleher commented on #1119
I like @petrelharp's thinking here. It'll be a little bit confusing as the defaults for ``sim_ancestry`` and ``simulate`` will be different, but hey, nothing's perfect. So, we have three functions - ``simulate`` which does a bit of everything with simple defaults, and ``sim_ancestry`` and ``sim_mutations`` which give more functionality.

I think we *can* deprecate ``mutate`` though, and encourage

[2020-08-12 16:39] agladstein commented on #1119
so, would you be able to use `simulate` and then `sim_mutations` on top of that tree?

[2020-08-12 16:41] petrelharp commented on #1119
Yes, I think - `simulate` would stay as-is, and `sim_mutations` would be (basically) `mutate`.

[2020-08-12 17:38] jeromekelleher commented on #1111
This also happens with ``sweep_ex1`` in the DiscoalTests sometimes.

[2020-08-12 19:25] jeromekelleher opened #1121 "C structures refactoring"
There's a number of long-standing refactoring issues noted at the top of [msprime.h](https://github.com/tskit-dev/msprime/blob/master/lib/msprime.h#L66).

- [ ] Get rid of the population_id_t, label_id_t typedefs and use tsk_id_t everywhere instead.
- [ ] Change segment_t.population_id to segment_t.population
- [ ] Change node_mapping_t.left to node_mapping_t.position.
- [ ] Change sweep_t.locus t

[2020-08-12 19:31] jeromekelleher opened #1122 "Split up C unit tests"
The C unit tests are all currently in one file. Split this up into (say) three files, ``test_likelihood``, ``test_ancestry``, and ``test_mutations``. We can copy some of the code from tskit's [test_main.c](https://github.com/tskit-dev/tskit/blob/master/c/tests/testlib.c) to avoid repeating all the CUnit boilerplate in each file.

This is a good introduction to the C code (see also #1211 and #1084)

[2020-08-13 06:39] TPPSellinger commented on #1046
Most of them finished. No crash observed. I did something like ~60 iterations.  Should I push it to 100 for safety ?

[2020-08-13 07:09] jeromekelleher commented on #1046
That's great,thanks @TPPSellinger. I've done about 1600 reps of your initial example now, so I think we're good.

[2020-08-13 07:32] TPPSellinger commented on #1046
I also checked for multiple merger. No issues found.

[2020-08-13 19:42] fbaumdicker commented on #851
Yes, that sounds like a good plan. And it would solve this issue without confusing tricks.

Two comments:

1. For performance, it might be worth including the (possibly common) case where the gene conversion rate is proportional to the recombination rate along the whole map. In this case, we can get all the necessary information for the internal gc events from the recombination_map and the corresp

[2020-08-14 07:50] jeromekelleher commented on #851
Sounds good, thanks @fbaumdicker. I'll work up the basic changes soon and ping you for input then.

[2020-08-15 14:18] hyanwong opened #1123 "Odd behaviour when all samples historic"
When I run an msprime simulation with *all* historical samples, I get no edges:

[code]

This seems pretty counterintuitive to me. Is this a bug?

[2020-08-15 15:13] hyanwong commented on #865
Just to jump in, I think an interval map would be a useful thing in `tskit`, not just msprime. For instance, we want to be able to specify maps (e.g. for recombination) in tsinfer, which is nothing to do with running a simulation.

[2020-08-15 17:04] petrelharp commented on #1123
Good spotting! I saw it first, though: this is #983. ;)

[2020-08-15 17:04] #1123 closed

[2020-08-15 17:05] hyanwong commented on #1123
Oops - should have checked first, sorry!

[2020-08-15 18:12] petrelharp commented on #1123
hah, np - I had a vague memory that *someone* had reported this... no wonder I remembered, since that someone was me.

[2020-08-15 18:14] hyanwong commented on #1123
Yeah, I do that all the time: something needs reporting, I'll go and look it up, and find that I already reported it 6 months ago, and forgot.

[2020-08-17 15:36] grahamgower opened #1125 "population sizes can't be zero, so positive sizes are used where they don't make sense"
Consider a three population model, `(0, (1, 2))`, where `0` is the ancestor of `1` and `2`. Furthermore, we have that `0` goes extinct at some time `T`, and `1` and `2` pop into existance at this time.

The typical way of describing this model is as follows.
[code]
Which results in the following output:
[code]

But I would argue that the population sizes should be zero outside the epochs where the

[2020-08-17 16:08] jeromekelleher commented on #1125
We could easily allow PopulationConfiguration and PopulationParametersChange accept 0 as input - I think it's just a filter to try and prevent errors. I'd be surprised if this was more than just making a few checks less stringent.

I can't imagine it breaking anyone's code if we allow zero population sizes now - would people really depend on ValueErrors being raised for a zero population size? Sin

[2020-08-17 16:09] jeromekelleher commented on #1125
Unless anyone objects?

[2020-08-17 16:10] jeromekelleher commented on #1121
@castedo, I thought this might be a good place to start with getting to know the code base? (But, make sure that #920 is merged before starting on it!)

[2020-08-17 16:43] jeromekelleher opened #1126 "Fix provenance handling for RateMap"
#920 added a simpler class to handle passing around rate information. However, this class doesn't roundtrip through provenance. Enable the ``test_mutate_map`` function in ``test_provenance.py`` and fix.

[2020-08-17 16:44] petrelharp commented on #1125
Sounds good. This could help catch errors (like not turning off migration), since if a lineage is in a zero-size population that it's not supposed to be in, it will produce an error. But it might be hard to make those errors be very interpretable...

[2020-08-17 17:51] grahamgower commented on #1125
There are only a few checks that prevent `initial_size=0`, so I disabled them (will submit a pr after #920 goes in). Calling simulate() seems to work (at least, it gives a result without error---I didn't look at the trees to see if they're reliable). If I try to sample from a population with zero size, a not unreasonable error is produced:

Unfortunately, asking for migration to or from a populati

[2020-08-17 18:01] petrelharp commented on #1125
Gee, I thought at least if there were two or more lineages in a population of zero size, there'd be an error due to the infinite coalescence rate?

[2020-08-17 18:04] grahamgower commented on #1125
I suppose the lineages don't get created? Probably you could provoke some issues by "turning off" a population without merging it though!

[2020-08-17 19:23] castedo commented on #1121
@jeromekelleher This does look like good placed to start, thanks! First, I'm going to get myself setup to compile and run unit tests. I'm assuming the normal thing for me to do now is assign this to myself now (expressing a plan for me to do this).

After programming in C++ so much it will be interesting to see which C++ features were missed or not.

[2020-08-17 23:58] nspope commented on #988
I am looking at [docs/api.rst](https://github.com/tskit-dev/msprime/blob/master/docs/api.rst#simulation-model) in relation to #1105 :

The description of `M_{j,k}` as a "fraction" is confusing (to me) for continuous time. The way I think of it is that `M_{j,k}` is the expected number of migrations from `k` to `j`, per lineage per generation, forward in time. For discrete time `\sum_{k \neq j} M_{j

[2020-08-18 04:24] petrelharp commented on #988
Well, let's see, thinking through things: Suppose there's a population of size `N` and an inmigration rate of `mN`, i.e., at rate `m` new individuals show up from elsewhere and replace a randomly chosen individual. The expected number of replacements per unit time is `mN`, and since the rate at which migrants arrive and replace a *given* individual is `mN/N = m`, the probability a given individual

[2020-08-18 05:40] nspope commented on #988
I think that's an improvement! But the distinction I'm getting at is that rates can exceed 1 in the continuous time models -- and of course when rates are greater than say 0.2-0.3, the higher order terms in that series expansion aren't tiny. So perhaps:

[2020-08-18 07:17] jeromekelleher commented on #1121
Great, thanks @castedo! The msprime [dev docs](https://msprime.readthedocs.io/en/latest/development.html) and [tskit dev docs](https://tskit.readthedocs.io/en/latest/development.html) should help get you up and running. There might be some old stuff in the msprime docs, so if you see any inconsistencies, please do open an issue.

Yes, perfect.

[2020-08-18 07:19] jeromekelleher commented on #1125
Sound good, thanks @grahamgower, looking forward to the PR.

[2020-08-18 14:00] #1126 closed

[2020-08-18 16:32] petrelharp commented on #988
This sounds good to me, as long as the "when M << 1" caveat is not too confusing to people who haven't thought about this math.  And, I strongly vote to say "as one follows it back through time" instead of "moving backwards through time".

[2020-08-19 02:24] castedo commented on #994
After reading this msprime installation page, there were a few changes I was thinking of making. And practicing my first PR on doc pages seems less dangerous than the C code. :-> Mainly I see some minor re-org that I think will make the instructions a little easy to understand and move the sub-instructions for super old platforms into one big "Old Platforms" section at the end.

While I'm at it, I

[2020-08-19 07:47] jeromekelleher opened #1132 "Document ploidy values for multiple merger models"
#1128 added support for different ploidy levels to the multiple merger models. Document the differences between them - I think the main difference is between ploidy=1 and ploidy>1. Ping @TPPSellinger and @JereKoskela

[2020-08-19 08:23] jeromekelleher commented on #994
That sounds great, thanks @castedo. I'm not sure we need to keep all the stuff about installing on old platforms. With conda (and hopefully binary wheels, soon) there's less need to hand-hold people through linking up with GSL in different places. I'd say we just delete all that stuff.

The rest sounds great. I think there are quite a few people still using singularity (HPC shops move slowly) so I

[2020-08-19 17:41] castedo commented on #1004
I'm getting ready to do a draft PR. I've done my first commit
https://github.com/castedo/msprime/commit/0b42c0e7e816113eaa55373d4eda6744161964e3
I have another commit to move container instructions from development.rst over into installation.rst.
And I plan to practice doing a rebase/squash for the first time before un-drafting the PR.

While doing all this, I couldn't help but ponder some high le

[2020-08-19 18:12] castedo commented on #994
I'm getting ready to do a draft PR. I've done my first commit
https://github.com/castedo/msprime/commit/0b42c0e7e816113eaa55373d4eda6744161964e3
I have another commit to move container instructions from development.rst over into installation.rst.
And I plan to practice doing a rebase/squash for the first time before un-drafting the PR.

While doing all this, I couldn't help but ponder some high le

[2020-08-19 18:14] castedo commented on #1004
Sorry! I commented in the wrong browser window! I meant to comment in #994! (I've moved the comment now)

[2020-08-20 09:00] JereKoskela commented on #1132
Thanks @jeromekelleher. I'll sort this out and update the multiple merger tutorial once we have the `sim_ancestry` interface.

[2020-08-20 09:17] TPPSellinger commented on #1132
Talking about Multiple merger tutorial, should we put the command lines showing how to use and compare the three model (Kingman, Dirac and Beta) ? I mean Kingman with Ne=10^4 equivalent to dirac with Ne=200  and c=0 which tends to Beta (with alpha close to 2) with Ne=4*complex_formula(Ne_Kingman, alpha) ?

[2020-08-20 13:32] #1004 closed

[2020-08-20 14:59] jeromekelleher opened #1137 "Add verification code for varying ploidy levels in multiple merger models."
See also #1132

In #1128 we added support for ploidy levels in multiple merger models. These need verification tests.

Ping @JereKoskela, @TPPSellinger

[2020-08-20 20:01] nspope commented on #1105
resolved with #1130

[2020-08-20 20:01] #1105 closed

[2020-08-20 20:05] JereKoskela commented on #1137
@TPPSellinger, are you happy to try to put together an SFS test for haploid models now that we have access to the `sim_ancestry` function with its `ploidy` argument as per #1134?

I'll update all of the other multiple merger tests (Mutation vs Recombination, Dirac vs Hudson, and the growth rate tests) in verification.py to cover the haploid case in the mean time. That won't be much different to th

[2020-08-20 20:42] agladstein commented on #994
So... funny thing. I'm trying to verify https://github.com/tskit-dev/msprime/pull/1136, but I can't get the dev version installed locally so that I can build @castedo new docs. (I'm on a Mac)

Following the current instillation docs is not doing me any good.
This was my attempt (in a virtualenv):
[code]

When I try to make the docs, I get this:
[code]

[2020-08-20 20:44] benjeffery commented on #994
I think you need to run `make` at the root first to build the extension.

[2020-08-20 20:50] agladstein commented on #994
I agree with your breakup. I think "Server Admin" also extends to cloud. People can run distributed simulations on the cloud (or something like the Open Science Grid).

I've never heard of podman! But, I know that a lot of HPC systems use singularity and therefore, having singularity instructions is great for HPC.

[2020-08-20 21:01] agladstein commented on #994
I'm getting this:
[code]

I ran `brew install gsl` and same error.
I also did `pip3 install --upgrade pip setuptools`

[2020-08-20 21:06] agladstein commented on #994
The installation refresh should also include this https://github.com/tskit-dev/msprime/issues/817

[2020-08-20 21:35] benjeffery commented on #994
`git submodule update --init` maybe? Then `make`?

[2020-08-21 00:48] castedo commented on #994
@agladstein that first error you got with not being able to import _msprime I started to get after the recent merge which moved _msprime into msprime. I was able to work around the issue locally by replacing "_msprime" in conf.py with "msprime._msprime".

[2020-08-21 00:51] castedo commented on #994
I haven't had a chance to isolate exactly why I could build the docs before this week's merge but not afterwards (except with the work around I just mentioned). I suspect that the docs are using some clever object mocking trick so that not everything in msprime needs to be build (especially the C stuff). If my hunch is right, it would be a nice trick because then "incomplete" local setups could st

[2020-08-21 00:56] castedo commented on #994
the PR/merge I'm referring to is #1133. When I roll back to right before that merge I was able to build the docs with an ancient v2 Sphinx and a bunch of weird RedHat non-pip older versions of various Python packages. Then when I fast-foward to the marge is breaks and I needed to do the above work around.
So I'm thinking I should just add this work around to line 34 of the conf.py even though I ha

[2020-08-21 06:15] TPPSellinger commented on #1137
Yes sure I will try to implement the test (today if possible). Thanks for updating all the other tests and putting this together @JereKoskela

[2020-08-21 07:24] jeromekelleher commented on #994
Well spotted, thanks @castedo - I've made a PR to fix this in #1140.

[2020-08-21 19:11] benjeffery opened #1142 "[Docs] Update system requirements just before 1.0 as GSL no longer needed for OSX and Linux"
Msprime 1.0 will have binary wheels on PyPI for install via pip. Remove the instructions to install GSL for OSX and Linux, but keep it in the development instructions.

[2020-08-22 21:53] castedo opened #1144 "[Docs] When, why, how use containers vs conda vs pip"
In reviewing PR #1136, @agladstein brought up many good points on what might be
confusing or missing in the installation instructions.

I see the overall issue is that the installation page could do a better job
helping users figure out when they should choose one option over another and
perhaps some guidance on how. The installation page already seems to be
extremely high quality and helpful. So

[2020-08-24 08:10] jeromekelleher commented on #1144
Sounds good to me @castedo - I think there's a pretty broad userbase at this point, so we should expect a mixture of conda, containers and pip installing. It's worth keeping in mind that we do have binary wheels now, and this might solve a lot of the installation problems that containers would help with. In particular, it should make it a lot easier to install on HPC systems.

[2020-08-24 09:24] #1120 closed

[2020-08-24 14:59] castedo commented on #1144
Copying over a suggestion by @jeromekelleher originally made in #994:

I have near-zero experience with HPC users, but I have to ask: Are most HPC users either using or planning to use containers?

[2020-08-24 15:01] castedo commented on #994
My first PR has been merged! Yay!
So what's the usual process for an github issue associated with a PR, like this one. It's assigned to me. Who decides whether an issue is closed? I see everything in this issue has been either addressed or moved into #1144.

[2020-08-24 15:05] #994 closed

[2020-08-24 15:43] jeromekelleher commented on #1144
"No", would be my guess. Most HPC users are inexperienced and working on very, very old linux distros with very complicated software setups. There is support in a lot of places for running singularity, but it's pretty recent I think. You have to expect HPC setups to be at least 5 years behind the cutting edge, I think.

[2020-08-24 16:50] agladstein commented on #1144
I agree with this.
I think most users (scientists) will be most familiar with conda and automatically opt for conda. Then, I think people who come more from the developer side of things choose pip. Most users are not already familiar with containers. I also think that once people start using containers, they realize their awesomeness and will continue to use containers - but, I bet for the time be

[2020-08-24 19:06] TPPSellinger commented on #1137
I  the simulator of Bjarki and have the SFS for the beta, I will do PR tomorrow morning. But we have a small problem. For the dirac there seem to be no c parameter, which means no kingman component according to him. I'm not quite sure on how to understand this, he explained me it should be equivalent to c=0 in msprime. But it's not so intuitive for me. Any insight about this @JereKoskela ?

[2020-08-24 19:56] JereKoskela commented on #1137
I haven't looked at his code, but from the description, it sounds like he has no Kingman component, and a Dirac component with weight 1. We have a Kingman component with weight 1, and a Dirac component with weight `c`. If that's right, then the two should have the same normalised SFS when our `c` goes to infinity.

Could you try plugging in a few very large values of `c` and check if that looks pl

[2020-08-24 22:41] castedo opened #1145 "requirements/readthedocs.txt missing sphinx_rtd_theme"
In building a minimal container image that can make the msprime docs, I call
[code]
but results in:
[code]
I'm in the process of committing the full Dockerfile to `tskit-dev/containers` that shows all the details.

Adding `sphinx_rtd_theme` to `requirements/readthedocs.txt` fixes the problem.

Feel free to assign to me to fix.

[2020-08-25 04:48] TPPSellinger commented on #1137
Okay, I will plug very high value of c and let you know what results look like.

[2020-08-25 07:16] jeromekelleher commented on #1145
sounds good, thanks @castedo. The reason we left it out is because it's included automatically on read the docs, but I'd imagine there's no harm in specifying it as part of the requirements there.

[2020-08-25 08:58] TPPSellinger commented on #1137
All results looks good. I will do PR now. Thanks for all the help @JereKoskela .

[2020-08-26 08:54] #1125 closed

[2020-08-26 14:49] castedo commented on #1122
msprime/docs/development.rst needs updating to reflect the recent new improvement by @nspope (splitting up the C unit tests). The dev docs still reference running `./build/tests` and `./build/tests test_fenwick` so those lines are now out of date. This is in the section C Library > Unit Tests.
Perhaps we still want a simple script `./build/tests` that runs all the tests?

[2020-08-26 14:51] jeromekelleher commented on #1122
Good spot, thanks @castedo.

Running ``ninja -C build test`` does this, so we'd be better off documenting this useful trick.

[2020-08-26 15:05] castedo commented on #1122
or `find ./build/test_* -type f -executable | bash` ;-)

[2020-08-26 18:30] castedo commented on #1121
I see five other structs that were using "population_id_t population_id" as a data member like segment_t, namely:
* sample_t
* sampling_event_t
* population_parameters_change_t
* simple_bottleneck_t
* instantaneous_bottleneck_t

I'm assuming you want those changed to for the same reason as segment_t.

[2020-08-26 18:34] castedo commented on #1121
So I've got this pretty much wrapped I think, except some permission issues, can you just run these lines with your permissions and then we should be aaaaaaaall set.
[code]
;-)

[2020-08-26 18:44] jeromekelleher commented on #1121
Thanks @castedo! You should run this though and make a PR - get git-credit for your hard work!

[2020-08-26 19:49] castedo commented on #1121
And I assume you also want
typedef tsk_id_t node_id_t;
typedef tsk_id_t mutation_id_t;
typedef tsk_id_t site_id_t;
replaced/removed like population_id_t, label_id_t.

[2020-08-26 20:00] castedo commented on #1121
OK I've made PR #1150
Got unit tests passing with newly compiled C extension.

[2020-08-27 14:37] JereKoskela commented on #1137
I'll close this in light of #1141 and #1148. We can reopen if we need further testing at some point.

[2020-08-27 14:37] #1137 closed

[2020-08-28 21:37] castedo commented on #1084
I'm ready to jump on this, if nobody else wants to take. @jeromekelleher go ahead and assign it to me and I'll do it next week. @nspope were you hoping to do this? I don't want to deprive anybody of the fun! ;-)

[2020-08-28 22:19] nspope commented on #1084
Go ahead!

[2020-09-01 10:46] jeromekelleher commented on #1084
Great, thanks @castedo!

[2020-09-01 16:02] #1121 closed

[2020-09-01 16:02] #1145 closed

[2020-09-02 11:28] JereKoskela commented on #1132
I'm resigned to the fact that I'll never remember to include this in the PR directly.

Closed in #1151.

[2020-09-02 11:28] #1132 closed

[2020-09-02 16:13] jeromekelleher opened #1153 "Verification tests broken due to discrete recombination maps"
There's a few places in the verification tests that we're using the old way of creating discrete genome simulations. We need to go through these and replace with ``discrete_genome=True``.

[2020-09-02 19:10] jeromekelleher commented on #1111
Clsoed in #1149

[2020-09-02 19:10] #1111 closed

[2020-09-02 19:11] jeromekelleher commented on #1112
Closed in #1114

[2020-09-02 19:11] #1112 closed

[2020-09-03 13:53] simonhmartin opened #1154 "Unexpected behaviour of msprime.mutate() when specifying start and end time"
Hi Jerome et al.
I've encountered an odd behaviour using `mutate()` when `start_time` and/or `end_time` are given.

Using the same `random_seed`, I would expect that you would always get a subset of all possible mutations if you constrain the time intervals. But that is not what I see:

[code]
Here, the second last vaiant in `ts2` is not present in `ts1`.

If I constrain the intervals eve further,

[2020-09-03 15:31] castedo commented on #1084
@jeromekelleher Here's an update on a slight change of course I'm currently planning. I'm planning to not use that GSL function. I'm planning to move some of this suspect code into separate functions with a calling interface similar to the GSL ones you mention. And make sure the rounding issues are handled. Maybe I'll write a unit test too.

Using that GSL function has a space-time trade-off. A ne

[2020-09-03 16:23] jeromekelleher commented on #1084
We're not so worried about about performance here @castedo so much as correctness. This is the main motivation for using GSL's functions - they're battle hardened, and we don't have to worry about what happens in tricky corner cases. So, unless it makes things significantly slower, I would prefer to use GSL's methods.

[2020-09-03 17:11] castedo commented on #1084
I'd be shocked if the extra GSL struct made things signif slower. I think I see good way to keep the code simple and include the GSL struct. It might make the print function output uglier, but it will be a sacrifice for more cleaner correct-code reuse.

[2020-09-05 00:58] castedo commented on #1084
In the process of debugging subtle numerical issues I ended up creating two
solutions in my heavily #ifdef'd https://github.com/castedo/msprime/tree/ifdef_party branch.

One solution is essentially equivalent to the code that @petrelharp originally proposed. This solution is cleaned up in PR #1156 and does not use that GSL function with lookup table. I have re-written Peter's orig proposed code to

[2020-09-05 15:11] petrelharp commented on #1084
This makes sense to me, @castedo! And, you're right - the GSL implementation is complex because it's designed to work well at the large-N case, which we are nowhere near. The only corner cases besides the doesn't-quite-sum-to-one one, which you've dealt with nicely, would have to do with very small probabilities (eg what if probs are 0.5 - 0.5e-12, 1e-12, 0.5-0.5e-12). But (a) there is no such mod

[2020-09-06 00:36] castedo commented on #1084
To be more easily understood and predictable for very small probabilities, I can suggest coding a running sum of the probabilities rather than a running subtraction from the random number. I agree these very small probabilities aren't much of a practical concern in the popgen application. But here it is:
[code]
The reason is that the probabilities are fixed and predictable. This makes the running

[2020-09-06 21:19] petrelharp commented on #1084
Hey, I like it. I say go for this version, but @jeromekelleher suggested gsl, so let's wait to see if he has something else to say.

[2020-09-06 21:21] petrelharp commented on #1084
Also, I also think that what you have proposed is correct, thus lowering the probability of error (but not to epsilon!).

[2020-09-07 08:24] jeromekelleher commented on #1084
Looks good to me! If this is simpler and we're sure it's correct then I say go for it. I guess we could consult TAOCP volume 2 as well, where I'm sure Knuth has some things to say about this problem (I don't have my copy on hand, though).

[2020-09-07 08:28] jeromekelleher commented on #1084
Actually, come to think of it, [here's](https://github.com/jeromekelleher/discsim/blob/master/lib/sim.c#L103) a version I wrote a while back which I think I based directly on Knuth.

[2020-09-07 11:50] castedo commented on #1084
By many reasonable and practical definitions of "sure" and "correct", I am sure the non-GSL function above is is correct.

Regarding the function you link to, I think it's a nice benefit to have a function like that where the random number gets passed in. That makes it conducive to having some unit tests that also act as documentation of corner cases. So I'll proceed with the non-GSL PR, use the m

[2020-09-07 12:04] jeromekelleher commented on #1084
Sounds good, thanks @castedo, let's go ahead with your version.

[2020-09-07 12:38] castedo commented on #1084
Excellent plan! I'll update the new PR, close the old PR, and un-draft the new PR when I finish the various changes discusses above.

[2020-09-07 19:34] castedo opened #1157 "dependency requirements"
After fixing polydistrotest
(https://github.com/castedo/containers/tree/polydistro/polydistro)
it now hits the same issue that @bhaller hit today where msprime doesn't load due to a dependency not satisfied by attrs 19.1. @molpopgen says he see attr.s(eq=False) work ok in attrs 19.2.

I attach the log spew from a test run on a clean Fedora 31 container that installed 19.1 and then pip install mspr

[2020-09-07 19:35] castedo commented on #1157
[fedora-31.txt](https://github.com/tskit-dev/msprime/files/5184763/fedora-31.txt)

[2020-09-07 19:43] castedo commented on #1157
[centos-8.txt](https://github.com/tskit-dev/msprime/files/5184775/centos-8.txt)

and here's the other dependency issue. I don't as many details as the attrs case. But Centos 8 repositories install install jsonschema 2.6.0 and then pip installing msprime does not request a newer version and the msprime doesn't load. Error message in the attach log spew.

[2020-09-08 07:29] jeromekelleher commented on #1157
Thanks for tracking these details down @castedo. Looks like we need to pin these in setup.py:

[code]

[2020-09-08 09:36] castedo commented on #1157
jsonschema 2.6.0 seems to be missing something that msprime (maybe indirectly) wants. Fedora 31, which is the pentultimate stable version, packages jsonschema version 3.2 (which is also the latest on pip I think). I haven't seen any version in between.

But 2.6.0 is too old. Maybe doing "jsonschema >= 3.0" is a good guess.

[2020-09-08 12:53] jeromekelleher commented on #1154
Sorry for the slow reply Simon, I didn't see this until just now. So, to be clear, are you imagining the semantics here to be that ``msprime.mutate`` returns something like (psuedocode):
[code]

If so, then that's not how it works I'm afraid - we don't actually simulate the stuff outside the required bounds and so we end up on a different random trajectory.

[2020-09-08 14:08] jeromekelleher commented on #1153
Actually, this has already been fixed. Not sure what version of the code I was looking at.

[2020-09-08 14:08] #1153 closed

[2020-09-08 16:17] #851 closed

[2020-09-08 16:24] simonhmartin commented on #1154
Thanks for the explanation. Is there any way to achieve what your pseudocode is doing?

[2020-09-08 16:31] jeromekelleher opened #1159 "Add LRU cache rate_map_position_to_mass"
The [rate_map_position_to_mass](https://github.com/tskit-dev/msprime/blob/master/lib/rate_map.c#L149) function gets called a vast number of times during large simulations, and the binary search lookups that it incurs are a significant fraction of the time taken on the [time_human_chr22](https://github.com/tskit-dev/msprime/blob/master/benchmarks/benchmarks.py#L98) benchmark. I think we can signifi

[2020-09-08 16:34] jeromekelleher commented on #977
We now have a time column, anyone want to fill it in? Should be a straightforward update.

[2020-09-08 16:35] jeromekelleher commented on #1154
Not right now I'm afraid @simonhmartin as we don't have a ``time`` attribute on mutations (yet - see #977). You could do something  similar by filtering out based on node times in the tree, but it wouldn't be very precise.

What are you trying to do here?

[2020-09-08 16:38] #991 closed

[2020-09-08 16:41] jeromekelleher opened #1160 "Remove requirement that GC is on discrete coordinates"
It's an artificial restriction now just imposed at the Python level.

[2020-09-08 16:46] simonhmartin commented on #1154
Ok, thanks.
What I'm trying to do is compare the full sfs to one in which mutations are restricted to the past. I am able to do so, but when I do  `SFS_full - SFS_restricted`, some of the values can end up negative, due to stochastic noise, which I would ideally like to avoid. Does that make sense?

[2020-09-08 16:47] castedo commented on #1159
Ooooooo, fraction of time on a benchmark! Sounds like fun! I'll take it.

[2020-09-08 16:47] jeromekelleher opened #1161 "GC is not being simulated correctly for long tracklengths"
Since #1138, the GC code has been updated to remove the ``gc_left`` event type. The idea was to replace this (for now) with a single class of gc event, where we compensated for gc events which start to the left of the first segment by letting the first segment span back to the start of the sequence. However, this doesn't seem to work:

![breakpoints](https://user-images.githubusercontent.com/26645

[2020-09-08 16:50] jeromekelleher opened #1162 "GC is currently ignored by sweeps code"
The selective sweep model currently allows there to be a non-zero GC rate but ignores the value (as in, it doesn't attempt to simulate gene conversion). This may lead to problems.

Should we simply raise an error if we start to simulate a sweep and there's a non-zero GC rate?

ping @andrewkern, @gbinux

[2020-09-08 16:55] jeromekelleher commented on #1154
Hmm, not sure we can do this without having mutation times.

[2020-09-08 16:59] simonhmartin commented on #1154
No worries. At least visually the noise can be minimised by just increasing the number of reps.

[2020-09-08 16:59] #1154 closed

[2020-09-08 17:00] jeromekelleher opened #1163 "verification: simulate_from_multi_locus test broken"
We're getting plots like:

![num_trees_m=10_t=0 5](https://user-images.githubusercontent.com/2664569/92506176-f56f8300-f1fc-11ea-9670-8ed5ba48f04e.png)

Looks like a simple problem with discrete_genome.

[2020-09-08 17:10] jeromekelleher commented on #1161
See also the gc_correlation_between_trees test:

![prob_first](https://user-images.githubusercontent.com/2664569/92507284-a1659e00-f1fe-11ea-9022-d4b0fcb5d7f3.png)

[2020-09-08 17:34] jeromekelleher opened #1165 "Document running airspeed velocity benchmarks and set up site"
#1146 and #1138 added some initial benchmarks using [airspeed velocity](https://asv.readthedocs.io/en/stable/). For the record, here's what the current set look like

![image](https://user-images.githubusercontent.com/2664569/92508796-22259980-f201-11ea-9c2b-c44e7800846a.png)

We have some basic benchmarks for Hudson and DTWF simulations. Getting these up and running and working for the problems I

[2020-09-08 17:36] jeromekelleher opened #1166 "Add benchmarks for msprime.mutate"
We should add some benchmarks to the ASV suite (#1165) so we can track the performance of the various mutate functions. These should be a lot faster than simulations, so it should be easier to benchmark.

I guess we'd want to benchmark all the different models on a small, medium and large tree sequence?

[2020-09-08 17:37] jeromekelleher commented on #1166
We'd want to have a fully baked mutation model API first though, I guess (#1070)

[2020-09-08 17:38] jeromekelleher commented on #1085
Closing this in favour of airspeed velocity (#1165)

[2020-09-08 17:38] #1085 closed

[2020-09-08 17:40] jeromekelleher commented on #823
This is pretty well covered now.

[2020-09-08 17:40] #823 closed

[2020-09-08 17:41] #1163 closed

[2020-09-08 19:51] gbinux commented on #1162
I think that makes sense. It seems `msms` does not have GC parameter either. I am thinking we can add an assertion in `msp_run_sweep function`. Do we need to update this python code as well? @jeromekelleher @andrewkern

[2020-09-08 22:16] benjeffery commented on #1165
From my point of view the simplest option is to rent a dedicated server for $30 a month, unless an oxford machine can be found that can be configured to give consistent results. I'm not sure it is worth setting it up on a shared server as we won't trust the results.

[2020-09-08 22:28] benjeffery commented on #1157
This is now fixed in tskit.

[2020-09-08 22:28] #1157 closed

[2020-09-09 07:32] #1084 closed

[2020-09-09 07:35] jeromekelleher commented on #1162
It makes sense to raise an error or to continue ignoring the gc rate @gbinux? I think it's probably simpler/safer to raise an error. (We can do this in the C code, in the same way as we do for raising an error in DTWF when there's a non-zero GC rate).

[2020-09-09 07:48] jeromekelleher commented on #1165
It's no so much the cost I really care about @benjeffery, it's the admin overhead of setting it up (which would be many, many emails, I'm sure). Having something running all the time just to run a few benchmarks once a week (or whatever) just seems wasteful, anyway.

[2020-09-09 09:17] benjeffery commented on #1070
Only one of the models (`GTR`) has an argument without a default (`relative_rates`) so can't be specified with a string. Is there a sensible default we can specify for that argument?

[2020-09-09 10:32] fbaumdicker commented on #1161
Ok, this looks indeed like the gcleft part is misbehaving. I will try to look into this issue.
@jeromekelleher: Are the otherfigures for the middle and last positions in the gc_correlation_between_trees test closer to the prediction?

[2020-09-09 12:46] jeromekelleher commented on #1161
Thanks @fbaumdicker - I'm actually working on it at the moment. Hold off a little bit and I'll update with a proposal.

[2020-09-09 13:02] fbaumdicker commented on #1161
Great! Looking forward to see your proposal.

[2020-09-09 15:52] jeromekelleher commented on #1161
I've reinstated the old way of doing things in #1168, if you want to take a look @fbaumdicker  - I'll probably tidy that up a little bit and merge before trying to make it more efficient in a follow up.

[2020-09-09 15:54] jeromekelleher commented on #1070
I think we're better off not providing a string shortcut for parametric models (same as we do for ancestry models). In this case, I think the sensible defaults would amount to one of the other models already defined, so it's a bit pointless (you'd only use this when you really want to specify your own model).

[2020-09-09 16:42] jeromekelleher opened #1169 "Improve GC performance"
Currently GC performance is poor because of the gc_left process. Improve this. This will entail tracking the gc_left total for individuals, which will be a little tricky.

[2020-09-09 16:53] jeromekelleher commented on #1119
This can be closed now as we've made the basic decision(s).

[2020-09-09 16:53] #1119 closed

[2020-09-09 16:56] jeromekelleher opened #1170 "Add individuals for sim_ancestry"
When simulating using the new sim_ancestry function we should add individuals (the old ``simulate`` behaviour of not adding individuals stays the same).

This will involve refactoring so that we add the individuals to the tables at the start of the simulation in Python rather than in C. However, we don't want to break the C tests, so there may be some automatic table initialisation step if they ar

[2020-09-09 17:02] jeromekelleher opened #1171 "Fill out functionality for sim_ancestry and document"
The current version of sim_ancestry is missing quite a few features. We should support everything in ``simulate``, except for

- mutation_rate
- population_configurations
- migration_matrix
- demographic_events (these are replaced by the demography argument)
- pedigree (this isn't properly implemented yet anyway)
- mutation_generator

We should document it all as well. Most of it can be copied dir

[2020-09-09 17:04] jeromekelleher commented on #1116
This has been decided: ``sim_ancestry`` simulates a discrete genome by default and ``simulate`` stays as-is.

[2020-09-09 17:04] #1116 closed

[2020-09-09 17:06] jeromekelleher commented on #1095
With recent refactoring, having population specific maps should be fairly straightforward now. However, there's a long queue of things that need to be done for 1.0, so unless someone volunteers to do some coding I think this will have to go out to 1.1.

[2020-09-09 17:08] jeromekelleher commented on #1047
I think we can close this, given upstream efforts @apragsdale, @grahamgower?

[2020-09-09 17:14] jeromekelleher opened #1172 "Refactor RateMap to use numpy functions and add functionality"
The current [intervals.py](https://github.com/tskit-dev/msprime/blob/master/msprime/intervals.py#L29) is a minimal refactoring required to add a more sensible interface and deprecate the old RecombinationMap.  We should at least refactor the current code to use numpy APIs rather than (e.g.) Python bisect. Fleshing out some additional simple functionality would be good too (but optional).

@grahamg

[2020-09-09 17:20] jeromekelleher commented on #943
Closed in #1104.

[2020-09-09 17:20] #943 closed

[2020-09-09 17:23] jeromekelleher opened #1173 "Statistical problems with sweeps"
It looks like there are some statistical problems in the sweeps, where we are not matching up to either analytical expectations or with msms/discoal.

@gbinux, would you mind summarising the status here please (and maybe paste in a few of the verification figures to help folks see what the problems are)?

[2020-09-09 17:26] jeromekelleher commented on #882
See also #1172

[2020-09-09 17:26] jeromekelleher commented on #902
Closing in favour of #1172

[2020-09-09 17:26] #902 closed

[2020-09-09 17:29] jeromekelleher commented on #958
We should change the parse_species_tree function to be a static method of the Demography class (returning a Demography object). We should check to see if it was released to see if there's any breakage, though.

[2020-09-09 17:30] jeromekelleher commented on #988
Can we close this issue now do you think @petrelharp? Or do we still need to work on these docs?

[2020-09-09 17:41] jeromekelleher opened #1174 "Add sim_mutations function"
As discussed in #1119, we would like to have a ``sim_mutations`` function that is basically the same msprime.mutate.

It may even be identical, in which case we should just make a simple shim like
[code]

Is there any reason that we *can't* make ``sim_mutations`` the same thing as ``mutate``? I guess the main issue will be having ``discrete=True`` as the default.

[2020-09-09 18:38] petrelharp commented on #988
Yes, the docs fixed up in #1105 look great!

[2020-09-09 18:38] #988 closed

[2020-09-09 19:18] fbaumdicker commented on #1161
I think there might be an easy way to fix it in this new version without gc_left here.
I didn't look at the code yet but did you add a weight of mean_gc_rate * track_length to the leftmost position in the gc_map? The distribution looks like this is missing and might cause the error.

[2020-09-10 05:20] grahamgower commented on #1047
Yep.

[2020-09-10 05:20] #1047 closed

[2020-09-10 05:27] grahamgower commented on #1172
I don't expect it will be too hard to make the `slice` method work on numpy arrays using `numpy.searchsorted` for the binary search. What additional functionality did you have in mind?

[2020-09-10 07:25] jeromekelleher commented on #1172
Great! Was that you volunteering? :wink:

I think the main thing would be better import - it would be nice if we could make ``read_hapmap`` a module function which returns a RateMap, and uses numpy functions to read the text file. I can't really think of anything else, I guess ``slice`` is the main thing we want.

Perhaps a version of slice where we say "give me the first x% of the map", which wou

[2020-09-10 07:48] jeromekelleher commented on #1161
No, I just had a standard weight of ``gc_rate`` according to the map. That was probably the issue. There's still the problem of generating too many events then, though, isn't there?

[2020-09-10 08:33] fbaumdicker commented on #1161
The graph above shows the relative frequency of events, correct? In this case, if we add events at the left side of the genome, the relative frequency of events on the right side should drop.

[2020-09-10 11:03] jeromekelleher commented on #1161
I was thinking more in terms of the performance @fbaumdicker - will we be able to simulate human chromosomes if we have all these GC non-events happening? I guess the simplest thing is to try it out.

[2020-09-10 11:03] #1161 closed

[2020-09-10 11:06] jeromekelleher commented on #1161
Quick question for you @fbaumdicker - what's a reasonable track length for humans?

[2020-09-10 12:24] hyanwong commented on #1172
Two other things

1. I would really like something like `physical_to_genetic()` where a numpy array of physical positions is passed in and a set of genetic positions are returned. See my comment [here](https://github.com/tskit-dev/msprime/issues/902#issuecomment-609662481) and @daniel-goldstein 's below it.

2. We have previously made errors by applying a map for human chromosome 20 build 37 to a

[2020-09-10 12:53] fbaumdicker commented on #1161
Something between 50 and 900 bp.

[2020-09-10 16:50] jeromekelleher commented on #1172
I think we want to have ``sequence_length`` as an attribute of the RateMap (it may already be). I think it's pretty simple now for someone to create a map masked out for zeros like you've done, if that's what they want, so we don't need to do anything special here. I don't think rate maps should contain provenance, for now at least.

[2020-09-10 17:37] #1162 closed

[2020-09-10 17:47] mufernando commented on #1041
One way to specify variable recombination rates is by reading HapMap files, which have four columns. The [docs](https://msprime.readthedocs.io/en/latest/api.html#msprime.RecombinationMap.read_hapmap) seem clear enough to me, as it specifies that only the second and third columns are used (starting positions and rate).

[2020-09-10 17:54] petrelharp commented on #1041
I agree! It looks good. I can't find anywhere else that talks about two columns in the documentation. Thanks, @mufernando!

[2020-09-10 17:54] #1041 closed

[2020-09-10 17:56] mufernando commented on #977
I'll give it a go.

[2020-09-10 18:13] mufernando commented on #1171
Initial implementation of `sim_ancestry` in #1134

[2020-09-10 18:14] mufernando commented on #1005
I think I could help with this, but it's not clear to me what should be done. @apragsdale ?

[2020-09-11 04:53] gbinux commented on #1173
@jeromekelleher Still working on this but here are some updates:

1. It seems that when comparing `msp` and `discoal` sweeps we need to always explicitly specify `refsize` for `discoal` (the `-N` option). Otherwise the the selected allele frequency trajectory will not be correctly calculated. Internally, `discoal` uses 1000,000 as refsize by default.

2. I have compared the selected allele frequen

[2020-09-11 07:17] jeromekelleher commented on #1173
Excellent, thanks @gbinux. Would you mind pasting in a few of the plots output by verification.py illustrating the statistical problems here please? I'm hoping to get a few more eyes on this.

[2020-09-11 07:22] jeromekelleher commented on #1005
Thanks @mufernando, that would be really helpful. Just to note also that the bit above is also out of date now, and we should be using the ``discrete_genome`` option to simulate.

[2020-09-11 07:28] jeromekelleher commented on #1171
Another thought I had is that we should embrace input polymorphism a bit more, like we're doing with the ``recombination_rate`` now. Rather than having two arguments ``recombination_map``, and ``recombination_rate``, we just have the ``recombination_rate`` which has both behaviours by checking the type of the input.

Another place we could do this is for ``num_samples`` and ``samples``. I think th

[2020-09-11 13:59] benjeffery commented on #1174
If we aren't already I'd like to advocate for only allowing kwargs to `sim_mutations` as we are in some other places.

[2020-09-11 14:39] jeromekelleher commented on #1174
Agreed - all args after the first ``ts`` argument are keyword only.

[2020-09-11 15:15] apragsdale commented on #1005
Thanks @mufernando. I haven’t kept up with all the changes in the last few months that have been going on - so I need to see how the discrete recombination works as well... not sure, but it’s possible it now allows for point probabilities if recombination between loci?

I’ll get myself up to speed, hopefully soon, and would be able to help out with this.

[2020-09-11 16:23] gbinux commented on #1173
In the discoal original paper, a few parameters mentioned in Supplemental figure 1. With this set parameters, msms and discoal were found by the authors to generate consistent results and stats. The same set of parameters are used here to compare any two of msms, discoal and msprime for a simple selective sweeps simulation.

The command arguments in msms format is

`100 300 -t 40 -r 40 50000 -SF 0

[2020-09-11 16:39] petrelharp commented on #1005
We can now do recombination with discrete (i.e., integer) coordinates, so I think all that needs to be said is that you should put a recombination rate of 0.5/bp on a 1bp gap between chromosomes? And be careful to get the endpoints right?

[2020-09-11 17:18] petrelharp commented on #1171
I think this should only work if there's only one population.

[2020-09-11 17:45] andrewkern commented on #1173
this must be the same time issue scaling that i was tracking down before. the time scale of the sweep phase is not appropriately matching that of the rest of the simulation.

what are the internal units of time now in msprime? i can go look too

[2020-09-11 17:46] andrewkern commented on #1107
was code ever merged to reflect the changes that @JereKoskela suggested?

[2020-09-11 17:51] JereKoskela commented on #1107
Yes, it's all there now @andrewkern. I think #1110 is the right place to look.

[2020-09-11 17:53] andrewkern commented on #1107
awesome thanks.

[2020-09-11 18:13] apragsdale commented on #1005
That sounds right to me. What I was just trying to check, looking through old closed issues and PRs, is would you get a huge number of trees in between the adjacent loci where you have recombination rate of 0.5? (Or is it now a recombination probability, which is different?) I didn't see if or where that was explicitly described, though.

[2020-09-11 18:23] gbinux commented on #1173
Maybe we can run msp/discoal simulations with similar parameters and directly compare msp time and discoal time (or height of the trees). @andrewkern

[2020-09-11 19:32] petrelharp commented on #1005
No - you should (only!) do this with discrete recombination, in which case recombination breakpoints only occur at integer positions.

[2020-09-11 19:33] petrelharp commented on #1005
And, note that discrete recombination will be the default for the new simulation interface. (but we should still say explicitly what's going on)

[2020-09-11 20:04] apragsdale commented on #1005
Ok great!! Thanks Peter. And in the discrete genome setting, a recombination rate of 0.5/bp between those loci really does mean "recombination event occurs with probability 0.5" instead of "number of recombination events are drawn from Poisson(0.5)" (and then you sum over probabilities of odd numbers of recombinations), right? If that's the case, then perfect!

Another way of simulating multiple c

[2020-09-11 20:12] petrelharp commented on #1005
We're by default in continuous time, so it means that "recombinations occur at a rate of 0.5 per unit time" (and I guess we should note that if a unit of time is not a generation they should adjust accordingly). I think this is correct, because it gives the correct long-run density of recombination events across time. I don't know what the DTWF does, although I know that [migration rates](https://

[2020-09-11 20:15] petrelharp commented on #1005
Ah, good point about the pedigree! But I don't think the pedigree simulation stuff is really ready?

Huh - I've thought in the past that running different chromosomes independently is equivalent to running them at the same time with a 0.5 recombination bit between them, in the Hudson coalescent. But right now that's not seeming correct to me. Is it?

[2020-09-11 20:48] brianzhang01 commented on #977
Hello -- chiming in with a particular question, and I hope this is an appropriate thread for it. I haven't followed all the discussions super closely but just caught up now.

I've been playing with the mutation time feature, which is awesome, and right now I've taken a tree sequence, sampled a lot of mutations, and plotted the distribution over times. Since `msprime` gave me unknown times, I used

[2020-09-11 20:50] apragsdale commented on #1005
No, I don't think it is ready. But I'll check in with Dominic and Ivan who were the latest to be working on it, I think.

In the Hudson coalescent, it isn't quite correct, because the recombination events split those segments into more than two parental lineages. But that is correct in the DTWF model, because multiple recombination events along the genome bring you back to the same parental genome

[2020-09-11 21:03] benjeffery commented on #977
@brianzhang01 thanks for reminding me of this. We've discussed this issue in the original mutation time work: https://github.com/tskit-dev/tskit/issues/513#issuecomment-639539212 The end result was to add as a future feature sampling uniformly, and getting round the need for random-ness by passing in a random array. However it seems there are other uses for randomness (e.g. https://github.com/tski

[2020-09-11 21:13] benjeffery commented on #977
Issue now at https://github.com/tskit-dev/tskit/issues/849

[2020-09-11 21:38] petrelharp commented on #1005
I'm confused about what "that is correct" is referring to, but, to clarify: it is definitely not true that simulating different chromsomes in completely separate runs of msprime under the DTWF is equivalent to simulating those chromosomes together in the same run, right?  I was asking whether these two things were equivalent: (a) simulating chr1 and chr2 in separate runs of msprime(model='hudson')

[2020-09-11 21:49] apragsdale commented on #1005
Sorry, I wasn't very clear. I think for simulating multiple chromosomes, Hudson is never really the right choice, if you care about getting the long-range correlations in the gene genealogies correct. Imagine simulating chr1+chr2+chr3+... with 0.5 between each. In the Hudson model, each recombination event takes you to a new parent, so you could end up with many more than two parents for a given g

[2020-09-11 22:02] brianzhang01 commented on #977
Thanks @benjeffery for catching me up! So it seems like on the `tskit` side, you'll be working on the pseudorandom uniform sampling in `compute_mutation_times()`, and this issue will also add pseudorandom uniform sampling on the `msprime` side? (`simulate` / `mutate` / `sim_mutations`) For me, I would be happy if just one of these were in (I'll roll my own in the meantime using the Python API). I'

[2020-09-11 22:18] petrelharp commented on #1005
Ok, great. This is a good summary of the issues. (And, the answer to my question is "no, those aren't equivalent", for these reasons.)  I think we should not alarm people too much about Hudson, since it's pretty darn close. And since dtwf is substantially slower (I think this is still true?). But we could recommend a final period of dtwf - do you think that's a good idea? Do you know a good recomm

[2020-09-11 22:44] apragsdale commented on #1005
Right, sorry, I didn't answer your question directly (though I meant to :-) ). I think you're right, that for most use cases Hudson is good enough - though in those cases, where you're not looking at long-range statistics like LD between distant loci or IBD between close relatives, for example, you probably don't gain anything by stitching chromosomes together. It just ends up adding a lot to run

[2020-09-12 17:02] andrewkern commented on #1173
yes this looks very close but not close enough yet.... i will take a look over the weekend and try to pull this together... such an annoying bug

[2020-09-13 02:11] petrelharp opened #1181 "InfiniteAllelesMutationModel may duplicate alleles when adding to previously-mutated sequence"
The way the InfiniteAllelesMutationModel works is by (a) whenever it's asked to make a root state, it [sets the "next" allele to the "start" allele](https://github.com/tskit-dev/msprime/blob/master/lib/mutgen.c#L474),a nd then (b) whenever it's asked to make a derived state, it [returns the 'next' allele and increments it](https://github.com/tskit-dev/msprime/blob/master/lib/mutgen.c#L461). The re

[2020-09-14 07:57] jeromekelleher commented on #1173
Thanks for digging in to this @gbinux and @andrewkern - we're nearly there!

[2020-09-14 08:00] jeromekelleher commented on #1005
Great discussion, thanks @apragsdale and @petrelharp!

[2020-09-14 14:36] andrewkern commented on #1173
still working on this...

[2020-09-15 14:56] #1181 closed

[2020-09-16 14:43] petrelharp commented on #1006
This was done in #1009.

[2020-09-16 14:43] #1006 closed

[2020-09-16 15:25] petrelharp opened #1184 "Add `sequential_only` argument to `mutate( )`"
Right now, we throw an error if a new mutation is above a kept mutation, although we have in the code [an option to not do this](https://github.com/tskit-dev/msprime/blob/master/tests/test_mutations.py#L1755). We throw an error because if the mutation process is not parent-independent (ie, if the distribution of derived state depends on the previous state), then there's no way to properly add inte

[2020-09-16 16:09] bhaller commented on #1184
Hmm.  Doesn't really communicate the idea to me, but then my head is not really in this space.  But I notice that you didn't use the word "sequential" once in your whole discussion above, so perhaps it is not really the key word for what's going on here.  I'm not sure what, in all this, is proposed to be "sequential".  A word that you *did* use, and that seems more descriptive to me, is "interstit

[2020-09-16 16:22] jeromekelleher commented on #1184
This has gone mostly over my head, but I'm with @bhaller on not being overblown by the ``sequential_only`` name. I don't have any better suggestions though.

[2020-09-16 16:32] petrelharp commented on #1184
This is the least-effort way to allow people to add discrete-sites mutations to an already-mutated tree sequence, as is our standard SLiM/tree sequences workflow, so I think we definately want to do it!

[2020-09-16 16:35] bhaller commented on #1184
Oh, I see – right now trying to do this would not just do a subtly-wrong thing, it would give an error and not work at all.  OK, yes, I see the necessity more clearly.

[2020-09-16 16:46] jeromekelleher commented on #911
We can close this, we're using Pyvolve now.

[2020-09-16 16:46] #911 closed

[2020-09-16 16:50] jeromekelleher commented on #865
Done in #1138 but see #1172

[2020-09-16 16:50] #865 closed

[2020-09-16 16:52] jeromekelleher commented on #474
Closing in favour of #1170.

[2020-09-16 16:52] #474 closed

[2020-09-16 16:53] jeromekelleher commented on #1
Going to close this - work is ongoing upstream to do this more generally.

[2020-09-16 16:53] #1 closed

[2020-09-16 17:36] petrelharp commented on #1184
How about `allow_ancestral`, defaulting to `False`?

[2020-09-16 17:46] bhaller commented on #1184
`parent_independent`?

[2020-09-16 18:39] hyanwong commented on #1172
Is the intention to save `self.cumulative` in the new RateMap, and use it for a simple numpy-based `physical_to_genetic` method, like we [did in the old one](https://github.com/tskit-dev/msprime/blob/afc3fc3d9c2605699dba48c1dd061282a3afa41f/msprime/intervals.py#L306). If so, I'd be happy to implement this (I need it for `tsinfer`)

[2020-09-16 19:15] grahamgower commented on #1172
Feel free to jump in here if you like @hyanwong---I certainly won't get to this until at least next week.

[2020-09-16 19:19] hyanwong commented on #1172
I just wanted to check if we wanted the same approach with the same method name (I don't see why not). If you aren't sure @grahamgower then perhaps @jeromekelleher could say? I was just going to reimplement enough for `physical_to_genetic`.

[2020-09-16 19:25] grahamgower commented on #1172
I have no idea about the physical_to_genetic stuff, sorry.

[2020-09-16 20:02] hyanwong commented on #1172
See https://github.com/tskit-dev/msprime/pull/1185 for this trivial addition. I didn't move `genetic_to_physical`, which seems a more complex function, so might need more debate?

[2020-09-16 20:32] petrelharp commented on #1184
Hm, but one of our main use cases, SLiM mutations, aren't parent-independent..

[2020-09-16 20:42] bhaller commented on #1184
But isn't the mode that you are describing adding essentially designed to handle the case where they _are_ parent-independent – at least, by simply assuming that they *are* parent-independent, even if they really aren't?  I think I'm losing the thread of this a bit; but you wrote "However, this totally _does_ make sense with parent-independent mutations. And, it's actually exactly what we need to

[2020-09-16 20:49] petrelharp commented on #1184
Parent-independent mutation is the only case where it's unambiguously fine. Other cases, like SLiM mutations, it's 'fine', with the caveats discussed above.

[2020-09-16 20:56] bhaller commented on #1184
OK, right – exactly.  So what I'm saying is that the algorithm effectively assumes that mutations are parent-independent, and covers that case, and so that seems like a reasonable thing to call the flag – that is, semantically, precisely what the flag controls.  If people choose to use the flag in cases where mutations are _not_ parent-independent, they will have to think about the caveats you out

[2020-09-17 19:11] #983 closed

[2020-09-17 19:19] benjeffery commented on #1165
I've found an old laptop - hopefully can just leave it connected in my attic running benchmarks

[2020-09-17 19:27] jeromekelleher opened #1186 "Refactor pedigree simulations to use tables allocated nodes"
#1183 made some changes to the pedigree simulations, and the code is in a semi-working state. The new approach is to fully allocate all pedigree individuals and their nodes *before* the pedigree simulation is run. The simulation then initialises its state from this starting point, and then fills in the edge table with the simulated genetic relationships.

The code isn't currently using the nodes t

[2020-09-17 19:35] jeromekelleher opened #1187 "Simplify pedigree input"
The [pedigree class](https://github.com/tskit-dev/msprime/blob/master/msprime/pedigrees.py#L46) is currently quite complicated in that it's doing a number of different jobs. It's made particularly confusing by the use of external 1-based IDs as identifiers.

Since #1183, the pedigree information is communicated to the low-level simulation via the individual table, which should now contain the enti

[2020-09-17 20:09] petrelharp opened #1188 "use mutation.time to populate `origin_generation_` in slim mutation metadata"
Once #1179 is in. Note that origin_generation_ is an *integer*, but following discussion with @bhaller, we decided it's still useful to put this in there, rounded. But it needs to be multiplied by -1, maybe offset by one, and either floor'ed or ceiling'ed. Details TBD.

Explanatory note: the "origin_generation_" entry in the metadata does *not* have to be consistent with anything in SLiM, since pe

[2020-09-17 20:31] bhaller commented on #1188
This is now outlawed, as per https://github.com/MesserLab/SLiM/issues/103.  But still, SLiM itself doesn't use the times for anything, it just provides them to the user for their use as a property in script.  So SLiM doesn't care what the value is, and doesn't use it for anything.  (Which is why it was allowed to use it as a tag, etc., but that was indeed confusing.)

[2020-09-17 20:56] petrelharp commented on #1188
oh, right. phew. =)

[2020-09-17 21:23] mufernando commented on #1188
should we also do this after #1179 goes in?

[2020-09-17 21:28] petrelharp commented on #1188
Yes - see above:

;)

[2020-09-18 04:04] petrelharp opened #1189 "change SlimMutationModel to SLiMMutationModel"
@bhaller points out, rightly, that this would be more consistent with everywhere else. I'll do this after #1176.

[2020-09-18 14:50] castedo commented on #1159
After looking over the code and observing a few benchmark scenarios with kcachegrind, here is my current thinking. Let me know if you see any issues. In a certain way, you could say what I am thinking is to let the CPU do the LRU caching with the L2/L3 caches.

What is kind of analogous to the `lru_cache_t` above is this structure:
[code]

We can call this the `fast_search_lookup_t` plan. There ar

[2020-09-18 14:55] castedo commented on #1159
@ivan-krukov thank you for all those unit tests for `msp_binary_interval_search` that I think you wrote. I think they are going to be very useful in the `fast_search_lookup_t` plan above. If you see any issues please feel free to share.

[2020-09-18 16:54] jeromekelleher commented on #1159
Sounds very interesting @castedo - if we can speed up the binary search used in looking up the chromosome positions then that will be a big bonus. I'm intrigued to see what you've come up with!

[2020-09-19 14:54] castedo opened #1192 "keep enabling asserts by default?"
As I'm improving the performance for some of these great benchmarks available, I have to ask whether enabling asserts by default should still be the case approaching v1.0.
https://github.com/tskit-dev/msprime/blob/96dc8d32528dfee218d8e7f6e53cfced9f797bdb/setup.py#L126

I usually would insert asserts often, but in some functions that should be particularly fast, i'm not putting them in. I could int

[2020-09-19 20:36] molpopgen commented on #1192
My two cents:

If you can't measure the asserts in a profile, then leave them in.  Yes, it is a little odd to have them enabled, but they have proven useful in catching corner case bugs and annoying numerical issues.  I think it is worth occasionally crashing the interpreter if it helps to squash another bug.

Your option A doesn't solve the "never ever abort" in Python issue.  As for option B, it

[2020-09-19 23:49] castedo commented on #1192
Some more details to just make sure we're all on the same page:
1) there are currently two kinds of builds:
    - the "release" build, with the Python package, via msprime/Makefile, setup.py build_ext3
    - the "debug" build, via msprime/lib/meson.build, run by automated C unit tests
2) there are 174 calls to "assert()" in `msprime/lib/*.c`
3) at the moment there is no C define which allows C cod

[2020-09-20 00:25] molpopgen commented on #1192
While I agree that it is strange to use this macro in release builds, the code base has moved a lot recently. There are multiple open issues that have only been found because these macros have been triggered. In some cases, users have reported the issues. So while it's not perfect to not exit gracefully, I think it is preferable compared to letting incorrect results happen.

Anyways, @jeromekelleh

[2020-09-20 01:05] castedo commented on #1192
I'm just making sure we're all on the same page here. The above statement by @molpopgen is true when "these macros" means "macros such as `assert` _OR_ a `fail_if` (as described earlier)". Whereas the statement is false if "these macros" means only the macro called `assert()` defined in 'assert.h' and enabled in release builds by undefining NDEBUG.

The objective of catching these bugs via abrupt

[2020-09-21 07:32] jeromekelleher commented on #1192
I'm pretty happy with keeping the asserts in, frankly. They have proved invaluable in tracking down bugs and they don't show up in profiles, so I see no good reason not to keep them in. There's a sort of Murphy's Law on Steroids effect with random simulation programs, in that it's incredibly hard to shake out all possible corner cases and to predict every possible parameter regime users will put i

[2020-09-21 08:48] #1165 closed

[2020-09-21 12:06] jeromekelleher opened #1194 "Reinstate specific errors for old classes"
The current fall-back of looking up tskit where there's a name error in msprime leads to some confusing error messages. For example, if I write
[code]

This will catch people out, as they'll look at top error message first and then wonder what this has to do with tskit (it's certainly tripped me up a couple of times now).

We should explicitly list the things we expect to deprecate and keep the na